{% extends 'layout/main.twig' %}

{% set pageId = 'account_settings_profile' %}
{% set title = site["title"] ~ " / Account Settings / My Profile" %}

{% block main %}
	<main class="main">
		<div class="container">
			<div class="panel">
				<div class="panel__header">
					<h2>Account Settings</h2>
				</div>
				<div class="panel__body" id="tab-container">
					<ul class="tabs tabs--account panel__body__part">
						{% for accountTab in accountMenu %}
							<li class="tab"><a href="#{{ accountTab["id"] }}">{{ accountTab["title"] }}</a></li>
						{% endfor %}
						{# <li class="dropdownLink active">
							<a href="#" class="mdi mdi-menu"></a>
						</li> #}
					</ul>


					<div class="panel__body__part add16top max960 noBorder" id="account_settings_profile">
						<h4>Personal information<div class="subheader">Specify information as it as in your passport</div></h4>
						<hr />
						<div class="container max500 add32top">
							<form>
								<div class="row">
									<div class="col-xs-6">
										<div class="form-group">
											<label for="name">First name</label>
											<input id="name" type="text" class="form-control" />
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group">
											<label for="surname">Last name</label>
											<input id="surname" type="text" class="form-control" />
										</div>
									</div>
									<div class="col-xs-12 add40top">
										<h4>Contact information</h4>
										<hr class="add32bottom" />
									</div>
									<div class="col-xs-6">
										<div class="form-group add16bottom">
											<label for="country">Select country</label>
											<div class="selectWrapper">
												<select id="country" class="form-control">
													<option value="1">United Kingdom</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group add16bottom">
											<label for="city">City</label>
											<input type="text" id="city" class="form-control" />
										</div>
									</div>

									<div class="col-xs-8">
										<div class="form-group add16bottom">
											<label for="address">Enter your address</label>
											<input id="address" type="text" class="form-control" />
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group add16bottom">
											<label for="code">Postal code</label>
											<input id="code" type="text" class="form-control" />
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group">
											<label for="phoneCode">Phone code</label>
											<div class="selectWrapper">
												<select id="phoneCode" class="form-control">
													<option value="1">United Kingdom (+44)</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group">
											<label for="phoneNumber">Phone number</label>
											<input id="phoneNumber" type="text" class="form-control" />
										</div>
									</div>
									<div class="col-xs-12 add24top">
										<div class="form-group text-center">
											<input type="submit" class="btn btn-primary btn-block at-center max300" value="Confirm" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="panel__body__part add40top max960 noBorder" id="password">
						<h4>Tab Password</h4>
						<br /><br /><br /><br /><br /><br /><br /><br />
					</div>
					<div class="panel__body__part add40top max960 noBorder" id="2fa">
						<h4>Tab 2fa</h4>
						<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
					</div>
					<div class="panel__body__part add40top max960 noBorder" id="paymentInfo">
						<h4>Tab Payment Info</h4>
						<br /><br /><br /><br /><br /><br /><br /><br />
					</div>
					<div class="" id="account_settings_referrals">
						<div class="container panel__body__part gray">
							<div class="row middle-xs max960">
								<div class="col-xs"><h5>Statistics<div class="subheader">Statistics referrals</div></h5></div>
								<div class="col-xs text-right"><span class="badge badge--big">Your referral rate is 12%</span></div>
							</div>
						</div>
						<div class="container panel__body__part noBorder max960 add40bottom">
							<div class="row middle-xs add24bottom add24top">
								<div class="col add24right"><strong class="smaller nowrap">Your Referral URL:</strong></div>
								<div class="col-xs"><div class="border radius add16inside text-center light linkToCopy pointer">
								<div class="hidden">https://btcbit.net/?referal=4936</div>
								https://btcbit.net/?referal=4936
								</div></div>
							</div>
							<div class="row smaller lighter add24bottom">
								<div class="col-xs-12 col-sm-6">
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">USD</div>
										<div class="col-xs text-right">$150</div>
									</div>
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">Count referrals</div>
										<div class="col-xs text-right">$150</div>
									</div>
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">Exchanges per day</div>
										<div class="col-xs text-right">$200</div>
									</div>
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">Exchanges per month</div>
										<div class="col-xs text-right">$90</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">EUR</div>
										<div class="col-xs text-right">$90</div>
									</div>
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">Exchanges per week</div>
										<div class="col-xs text-right">$150</div>
									</div>
									<div class="row middle-xs border-bottom add16inside">
										<div class="col-xs">Total exchanges</div>
										<div class="col-xs text-right">$200</div>
									</div>
								</div>
							</div>
							<div class="" id="tab-inner-container">
								<span class="caps small light inline-block ">Referrals exchange</span>
								<ul class="tabs tabs--caps ">
									{% for status in statuses %}
										<li class="tab"><a href="#ref-{{ status }}">{{ status }}</a></li>
									{% endfor %}
									{# <li class="dropdownLink active">
										<a href="#" class="mdi mdi-menu" dropdown-id="exchangeStatuses"></a>
									</li> #}
								</ul>

								<div class="tableWrapper" id="ref-all">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #3</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #4</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="ref-new">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #3</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #4</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="ref-complete">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #5</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #6</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #7</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="ref-paid">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #3</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #4</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="ref-canceled">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #5</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #6</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #7</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="container panel__body__part gray add32bottom">
							<div class="row middle-xs max960">
								<div class="col-xs"><h5>Banners<div class="subheader">Banner referrals</div></h5></div>
								<div class="col"></div>
							</div>
						</div>
						<div class="container panel__body__part max960 noBorder add32bottom">
							<form>
								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<div class="form-group">
											<label for="size">Select banner size</label>
											<div class="selectWrapper">
												<select id="size" class="form-control">
													<option value="1">100 &times; 90 &times; 5</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8">
										<div class="form-group">
											<label for="url">URL</label>
											<div id="url" class="border radius add11inside text-center overflow-auto light linkToCopy pointer">
												<div class="hidden"><a href="https://btcbit.net/?referal=4936"><img src="https://btcbit.net/upload/country/728x90-51.gif"></a></div>
												{{ '<a href="https://btcbit.net/?referal=4936"><img src="https://btcbit.net/upload/country/728x90-51.gif"></a>' | escape}}
											</div>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<label for="banner">Banner Selected</label>
											<img src="./img/banner/1.jpg" />
										</div>
									</div>
								</div>

							</form>
						</div>
						<div class="container panel__body__part gray add32bottom">
							<div class="row middle-xs max960">
								<div class="col-xs"><h5>Payouts<div class="subheader">Payouts referrals</div></h5></div>
								<div class="col"></div>
							</div>
						</div>
						<div class="container panel__body__part max960">
							<form>
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="amount">Amount</label>
											<input type="text" class="form-control" />
										</div>
										<div class="form-group">
											<label for="currency">Currency</label>
											<div class="selectWrapper">
												<select id="currency" class="form-control">
													<option value="1">USD</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="paymentOption">Payment Option</label>
											<div class="selectWrapper">
												<select id="paymentOption" class="form-control">
													<option value="1">Paypal</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-xs-12">
										<div class="form-group">
											<label for="info">Payment Information</label>
											<textarea id="info" class="form-control" style="min-height: 132px; resize: none;"></textarea>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-block btn-primary" value="Create order for withdrawal" />
										</div>
									</div>
								</div>
							</form>
							<hr />
							<div class="" id="tab-inner-container-2">
								<span class="caps small light inline-block ">Payouts</span>
								<ul class="tabs tabs--caps ">
									{% for status in statuses %}
										<li class="tab"><a href="#payout-{{ status }}">{{ status }}</a></li>
									{% endfor %}
									{# <li class="dropdownLink active">
										<a href="#" class="mdi mdi-menu" dropdown-id="exchangeStatuses"></a>
									</li> #}
								</ul>

								<div class="tableWrapper" id="payout-all">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #3</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #4</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="payout-new">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #3</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #4</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="payout-complete">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #5</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #6</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #7</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="payout-paid">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #3</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #4</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tableWrapper" id="payout-canceled">
									<table class="table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>Status</th>
												<th>Revenue</th>
												<th>Your revenue</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item #5</td>
												<td>Long Subject Name for Item #1</td>
												<td><span class="badge badge--gray">Delayed</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #6</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
											<tr>
												<td>Item #7</td>
												<td>Short Name</td>
												<td><span class="badge badge--green">Complete</span></td>
												<td>$150</td>
												<td>$150</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>


						</div>

					</div>

				</div>
				<div class="panel__footer"></div>
			</div>
		</div>
	</main>
{% endblock %}
