{% extends 'layout/main.twig' %}

{% set pageId = 'aml_policy' %}
{% set title = site["title"] ~ " / AML Policy" %}

{% block main %}
	<main class="main">
		<div class="main__center">
			<div class="container">
				<div class="row center-xs">
					<div class="col-xs-12 text-center add24top add16bottom">
						<div class="logo__box"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div>
						<h1 class="main__title">AML Policy</h1>
					</div>
					<div class="col-xs-12 text-center add16bottom">
						<p class="lead add0bottom">This article outlines BTCBIT.NET refund policies based on type of exchange transactions performed</p>
						<p class="lighter">Anti-Money Laundering and Counter-Terrorist Financing</p>
						
						<div class="lighter">
							<p>BTCBIT.NET is committed to providing you with safe, compliant, and reputable Services. Accordingly, BTCBIT.NET insists on a comprehensive and thorough customer due diligence process and implementation and ongoing analysis and reporting.</p>
							<p>This includes monitoring of and for suspicious transactions and mandatory reporting to international regulators. By agreeing to our Terms, you acknowledge and 
							understand that BTCBIT.NET maintains verification levels which require user participation and verification in order to obtain, with leveled permissions based on 
							user-supplied information, our ability to verify it, and our internal policies. You accept that you may not be able to achieve a desired level of verification, and BTCBIT.NET reserves the right to determine, at its sole discretion, the appropriate Verification Level for any user, as well as the right to downgrade users without prior notice.</p>
							<p>BTCBIT.NET may, from time to time, implement policies restricting Verification Levels by nationality, country of residence, or any other factor. This may affect your ability to withdraw funds in your account and you indemnify BTCBIT.NET against any losses associated with an inability to deposit and/or withdraw funds based on your 
							verification level. BTCBIT.NET reserves the right to refuse registration to, or to bar transactions from or to, or terminate any relationship with, any customer for any reason (or for no reason) at any time.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

