{% extends 'layout/main.twig' %}

{% set pageId = 'authorization' %}
{% set guest = true %}
{% set title = site["title"] ~ " / Authorization" %}

{% block main %}
<main class="main" style="background-image: url(./img/globe_bg.png)">
	<div class="main__center">
		<div class="row">
			<div class="col-xs-12 text-center add24top add16bottom">
				<img src="./img/btcbit_logo_full_dark.png" class="max150" />
			</div>
			<div class="col-xs-12 text-center add24bottom">
				<h6>
					Authorization
					<div class="subheader">Login with your E-mail and password</div>
				</h6>
			</div>
		</div>
		<form class="row autorizationForm" method="post" action=".">
			<div class="col-xs-12 col-sm-5">
				<h6 class="add24bottom">Login</h6>
				<div class="form-group">
					<label for="email">Please enter your Email</label>
					<input type="email" class="form-control" id="email" placeholder="" />
				</div>
				<div class="form-group">
					<label for="password">Please enter your Password</label>
					<input type="password" class="form-control" id="password" placeholder="" />
					<div class="add4top"><small><a href="#forgotPassword">Forgot Password?</a></small></div>
				</div>
				<div class="form-group">
					<div class="g-recaptcha" data-sitekey="6Lcb2GoUAAAAAHf07pbHHVXZ7wliEw6SDTh4fKFp"></div>
				</div>
				<div class="form-group">
					<input class="btn btn-block btn-primary btn-lg" type="submit" value="Sign In" />
				</div>
			</div>

			<div class="col-xs-none col-sm-2 divider">
				<div class="l"></div>
			</div>

			<div class="col-xs-12 col-sm-5">
				<h6 class="add24bottom or">Or</h6>
				<div class="form-group add24bottom">
					<label>&nbsp;</label>
					<a class="btn btn-block btn-info row">
						<span class="col mdi mdi-facebook-box"></span>
						<span class="col-xs">Login with Facebook</span>
					</a>
				</div>

				<div class="form-group">
					<a class="btn btn-default btn-block row" href="registration.html">
						<span class="col"><img src="./img/btcbit_logo.png" class="btcbitIcon" /></span>
						<span class="col-xs">Don't have account? <strong>SIGN UP</strong></span>
					</a>
				</div>

			</div>
		</form>
		<div class="row">
			<div class="col-xs-12 add40top add24bottom text-center small">
				<span class="light">By signing up, you agree to BTCBIT</span> <a href="terms.html">Terms &amp; Conditions</a>
				<span class="light">and</span> <a href="privacy_policy.html">Privacy Policy</a>
			</div>
		</div>
	</div>
</main>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}