{% extends 'layout/main.twig' %}


{% set pageId = 'buy' %}
{% set title = site["title"] ~ " / Buy & Sell" %}

{% block main %}
	<section class="section section--buy-sell">
		<h1 class="section__header text-center opacity5">Buy Ethereum with Credit card</h1>
		<div class="container">
			{% include './include/buy.twig' %}
		</div>
	</section>

	<main class="main">
		<div class="container">
			<h3 class="add24bottom add24top text-center">You can also choose from our available packages:</h3>
			<div class="row ourPackages text-center">
				<div class="col-xs-6 col-sm-3">
					<div class="panel">	
						<div class="panel__header panel__header--narrow">
							<div class="row middle-xs">
								<div class="col-xs text-left"><strong>0.4336 ETH</strong></div>
								<div class="col"><img src="./img/eth_icon.png" class="icon" /></div>
							</div>
						</div>
						<div class="panel__body add16inside">
							<div class="huge lighter">$99<sup>95</sup></div>
							<div class="add8bottom add8top"><a href="#" class="btn btn-primary">Buy Now</a></div>
							<div class="small light">
								You get 0.2024 ETH<br />
								Prices include commission
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3">
					<div class="panel">	
						<div class="panel__header panel__header--narrow">
							<div class="row middle-xs">
								<div class="col-xs text-left"><strong>0.94996 ETH</strong></div>
								<div class="col"><img src="./img/eth_icon.png" class="icon" /></div>
							</div>
						</div>
						<div class="panel__body add16inside">
							<div class="huge lighter">$360<sup>33</sup></div>
							<div class="add8bottom add8top"><a href="#" class="btn btn-primary">Buy Now</a></div>
							<div class="small light">
								You get 0.2024 ETH<br />
								Prices include commission
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3">
					<div class="panel">	
						<div class="panel__header panel__header--narrow">
							<div class="row middle-xs">
								<div class="col-xs text-left"><strong>1.0865 ETH</strong></div>
								<div class="col"><img src="./img/eth_icon.png" class="icon" /></div>
							</div>
						</div>
						<div class="panel__body add16inside">
							<div class="huge lighter">$509<sup>05</sup></div>
							<div class="add8bottom add8top"><a href="#" class="btn btn-primary">Buy Now</a></div>
							<div class="small light">
								You get 0.2024 ETH<br />
								Prices include commission
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3">
					<div class="panel">	
						<div class="panel__header panel__header--narrow">
							<div class="row middle-xs">
								<div class="col-xs text-left"><strong>1.9436 ETH</strong></div>
								<div class="col"><img src="./img/eth_icon.png" class="icon" /></div>
							</div>
						</div>
						<div class="panel__body add16inside">
							<div class="huge lighter">$809<sup>95</sup></div>
							<div class="add8bottom add8top"><a href="#" class="btn btn-primary">Buy Now</a></div>
							<div class="small light">
								You get 0.2024 ETH<br />
								Prices include commission
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 text-center light smaller">The price will be recalculated in <strong id="countdownTimer">60 seconds</strong></div>
			</div>
		</div>

		<div class="whiteBg add24top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 lighter add32bottom">
						<div class="row">
							<div class="col">
								<img src="./img/icon_4.png" class="icon add16right" />
							</div>
							<div class="col-xs add24right">
								<h6 class="add8bottom"><strong>Currencies avaliable</strong></h6>
								<p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In leo sem, lacinia sit amet consequat sed, maximus at dolor.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 lighter add32bottom">
						<div class="row">
							<div class="col">
								<img src="./img/icon_3.png" class="icon add16right" />
							</div>
							<div class="col-xs add24right">
								<h6 class="add8bottom"><strong>How Does it work?</strong></h6>
								<p class="light">
									1. Create your account<br>
									2. Go through the verification<br>
									3. Purchase
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 lighter add32bottom">
						<div class="row">
							<div class="col">
								<img src="./img/icon_3.png" class="icon add16right" />
							</div>
							<div class="col-xs add24right">
								<h6 class="add8bottom"><strong>How Long Does It Take To Exchange Currency?</strong></h6>
								<p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In leolacinia sit amet consequat sed, maximus at dolor. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row add16bottom">
					<div class="col-xs-12 col-sm-4 lighter add32bottom">
						<div class="row">
							<div class="col">
								<img src="./img/icon_5.png" class="icon add16right" />
							</div>
							<div class="col-xs add24right">
								<h6 class="add8bottom"><strong>How much is the commission for the service?</strong></h6>
								<p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In leo sem, lacinia sit amet consequat sed, maximus at dolor.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 lighter add32bottom">
						<div class="row">
							<div class="col">
								<img src="./img/icon_2.png" class="icon add16right" />
							</div>
							<div class="col-xs add24right">
								<h6 class="add8bottom"><strong>Do I need verification?</strong></h6>
								<p class="light">Lorem ipsum dolor sit amet, elit. In leo sem, lacinia sit amet, maximus at dolor. 
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 lighter add32bottom">
						<div class="row">
							<div class="col">
								<img src="./img/icon_6.png" class="icon add16right" />
							</div>
							<div class="col-xs add24right">
								<h6 class="add8bottom"><strong>Why choose us?</strong></h6>
								<p class="light">
									Instant Purchase and Sale<br>
									100% secured data<br>
									Mobile friendly website</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row add8bottom">
					<div class="col-xs-12 text-center">
						<div><strong>Please feel free to contact us if you have more questions</strong></div>
						<div class="add8top"><a href="#" class="btn btn-primary add16left btn-sm">Contact us</a></div>
					</div>
				</div><br />
				<div class="row add40top">
					<div class="col-xs-12 col-sm-6">
						<h5>Latest Transactions</h5>
						<div class="panel add16top height300">
							<table class="table no-border table--zebra small">
								<thead>
									<tr>
										<th>Time</th>
										<th>Deposit</th>
										<th>Receive</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									{% for i in 0..3 %}
									<tr>
										<td>2 mins ago</td>
										<td class="addArrowRight">
											<a href="#">Credit Card</a>
										</td>
										<td>
											Bitcoin
										</td>
										<td>$1034.50</td>
									</tr>
									<tr>
										<td>3 mins ago</td>
										<td class="addArrowRight">
											<a href="#">Credit Card</a>
										</td>
										<td>
											Etherium
										</td>
										<td>$234.00</td>
									</tr>
									<tr>
										<td>10 mins ago</td>
										<td class="addArrowRight">
											<a href="#">Bitcoin</a>
										</td>
										<td>
											Litecoin
										</td>
										<td>$1000.00</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<h5>Latest News and Updates</h5>
						<div class="panel add16top height300">
							<table class="table table--news no-border small">
								<tbody>
									{% for i in 0..3 %}
									<tr>
										<td><div class="news__thumb news__thumb--small"><a href="#" style="background-image: url(./img/news/1.jpg)"></a></div></td>
										<td class="">
											<a href="#">Check out our Facebook page!</a>
											<div class="light text-truncate">Our Facebook page is up and runnig! Make sure you like and foll is up and runnig! Make sure you like and foll</div>
										</td>
									</tr>
									<tr>
										<td><div class="news__thumb news__thumb--small"><a href="#" style="background-image: url(./img/news/2.jpg)"></a></div></td>
										<td class="">
											<a href="#">Bitcoin transactions are quick again!</a>
											<div class="light text-truncate">No more delays in Bitcoin transactions, no more waiting! Our Bitcoin is up and runnig! Make sure you like and foll</div>
										</td>
									</tr>
									<tr>
										<td><div class="news__thumb news__thumb--small"><a href="#" style="background-image: url(./img/news/3.jpg)"></a></div></td>
										<td class="">
											<a href="#">Announcing BITBTC phone support!</a>
											<div class="light text-truncate">We’re excited to announce phone support for our customers is up and runnig! Make sure you like and foll</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row add40top">
					<div class="col-xs-12 center-xs">
						<h5>User Feedback</h5>
						<iframe
							src="https://widget.trustpilot.com/trustboxes/54ad5defc6454f065c28af8b/index.html?templateId=54ad5defc6454f065c28af8b&businessunitId=598d867a0000ff0005a8a02c#locale=en-US&styleHeight=220px&styleWidth=100%25&theme=light&stars=4%2C5"
							style="min-height: 200px"
							></iframe>
					</div>
				</div>

			</div>
		</div>
	</main>
{% endblock %}

