{% extends 'layout/main.twig' %}

{% set pageId = 'dashboard' %}
{% set title = site["title"] ~ " / Dashboard" %}

{% block main %}
	<style>
		.react-stockcharts-candlestick {}
		.react-stockcharts-candlestick-wick path {
			stroke-width: 2px;
		}
		.react-stockcharts-candlestick-candle rect {
			transform: translateX(-2px);
		}
		.react-stockcharts-edgeindicator {
			display: none;
		}
		.react-stockcharts-x-axis text,
		.react-stockcharts-y-axis text {
			fill: rgba(255, 255, 255, .6);
		}
		.react-stockcharts-x-axis line,
		.react-stockcharts-y-axis line {
				stroke: rgba(255, 255, 255, .05);
		}
		.react-stockcharts-axis-domain {
			stroke: rgba(255, 255, 255, .2);
		}
		.react-stockcharts-tooltip g{
			fill: rgba(0,0,0,0);
		}
		.react-stockcharts-tooltip-content text {
			fill: #fff;
		}
	</style>
	<ul class="tabs strong tabs--dashboard at-center hidden-sm-up">
		<li><a href="#sectionBuy" data-filter="buy">BUY</a></li>
		<li><a href="#sectionSell" data-filter="sell">SELL</a></li>
		<li class="active"><a href="#sectionCharts" data-filter="charts">CHARTS</a></li>
		<li><a href="#sectionTransactions" data-filter="transactions">LATEST TRANSACTIONS</a></li>
	</ul>

	<main class="main inverse">
		<div class="row">		
			<div class="main__left col-xs-12 col-sm-12 col-md-4 col-lg-3">
				<section class="section currencies" data-family="charts">

					<div class="row">
						<div class="currencies__crypto col-xs">
							<h5 class="section__header">Crypto</h5>
							<div class="add16left">
								{% for crypto in cryptos %}
								<a href="#" class="currency{% if loop.index	== 1 %} active{% endif %}">
									<div class="currency__icon"><img src="./img/crypto/{{ crypto }}-alt.svg" /></div>
									<div class="currency__title">{{ crypto }}</div>
								</a>
								{% endfor %}
							</div>
						</div>
						<div class="currencies__currency col-xs">
							<h5 class="section__header">Currency</h5>
							<div class="add16left">
								{% for fiat in fiats %}
								<a href="#" class="currency{% if loop.index	== 1 %} active{% endif %}">
									<div class="currency__icon"><img src="./img/crypto/{{ fiat }}-alt.svg" /></div>
									<div class="currency__title">{{ fiat }}</div>
								</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>

				<section class="section market" data-family="charts,buy,sell">
					<h5 class="section__header">Market</h5>
					<div class="tableWrapper">
						<table class="table table--markets smaller">
							<thead>
								<tr>
									<th>Coin</th>
									<th>Price</th>
									<th>Volume</th>
									<th>VAT No.</th>
								</tr>
							</thead>
							<tbody>
								{% for market in markets %}
									<tr class="{{ market[5] }}">
										<td>
											<div class="white uppercase">{{ market[0] }}</div>
											<div><small>{{ market[1] }}</small></div>
										</td>
										<td>
											<div>{{ market[2] }}</div>
										</td>
										<td>
											<div>{{ market[3] }}</div>
										</td>
										<td class="delta">
											<div>{{ market[4] }}</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>

				<section class="section tradeHistory" data-family="transactions">
					<h5 class="section__header">Trade History</h5>
					<div class="height350">
						<div class="tableWrapper">
							<table class="table smaller">
								<thead>
								<tr>
									<th>Date</th>
									<th>Type</th>
									<th>Amount BTC</th>
									<th>Price</th>
									<th>Total</th>
								</tr>
								</thead>
								<tbody>
								{% for history in histories %}
								<tr>
									<td>
										<div>{{ history[0] }}</div>
									</td>
									<td>
										<div class="{% if history[1] == 'BUY' %}white{% else %}blue{% endif %}">{{ history[1] }}</div>
									</td>
									<td>
										<div>{{ history[2] }}</div>
									</td>
									<td>
										<div>{{ history[3] }}</div>
									</td>
									<td>
										<div>${{ history[4] }}</div>
									</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>

			<div class="main__center col-xs-12 col-sm-12 col-md-8 col-lg-6">				
				<div class="wrapper--buy-sell">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<section class="section section--tradeCurrency" data-family="buy, transactions">
								<a id="sectionBuy"></a>
								<h4 class="section__header">Buy ETH</h4>
								<div class="section__body">
									<div class="row small">
										<div class="col-xs opacity75">
											<div>Lowest Ask</div>
											<div class="blue">518.19809994 USD</div>
										</div>
										<div class="col-xs text-right opacity75">
											<div class="nowrap">Min 50 USD - Max 10000 USD</div>
											<div class="nowrap">Our reserve  194 ETH</div>
										</div>
									</div>
									<form class="add8top">
									<div class="row">
										<div class="col-xs-5">
											<div class="form-group selectWrapper">
												<select id="currencyFrom" class="form-control">
													<option value="1">SEPA</option>
												</select>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="row inputAndSelect">
												<div class="col-xs">
													<input type="text" class="form-control text-right" placeholder="You have" value="100"></input>
												</div>
												<div class="col selectWrapper">
													<select id="" class="form-control">
														<option value="100">USD</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row inputAndSelect">
										<div class="col-xs">
											<input type="text" class="form-control text-right" placeholder="You get" value="13.453395"></input>
										</div>
										<div class="col selectWrapper">
											<select id="" class="form-control">
												<option value="1">ETH</option>
											</select>
										</div>
									</div>

									<div class="row add8top middle-xs">
										<div class="col-xs opacity75 small">											
											Amount already includes commission:
											Bank Card: 4.5%  BTCBIT: 5%  ETH: 0.005 ETH
										</div>
										<div class="col">											
											<input type="submit" class="btn btn-primary min100" value="Buy"></input>
										</div>
									</div>

									</form>
								</div>
							</section>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<section class="section section--tradeCurrency" data-family="sell, transactions">
								<a id="sectionSell"></a>
								<h4 class="section__header">Sell ETH</h4>
								<div class="section__body">
									<div class="row small">
										<div class="col-xs opacity75">
											<div>Highest Bid</div>
											<div class="blue">514.44368646 USD</div>
										</div>
										<div class="col-xs text-right opacity75">
											<div class="nowrap">Min 0.02 ETH - Max 100 ETH </div>
											<div class="nowrap">Our reserve 100000 USD</div>
										</div>
									</div>
									<form class="add8top">
									<div class="row form-group inputAndSelect">
										<div class="col-xs">
											<input type="text" class="form-control text-right" placeholder="You get" value="11.77543"></input>
										</div>
										<div class="col selectWrapper">
											<select id="" class="form-control">
												<option value="1">ETH</option>
											</select>
										</div>
									</div>


									<div class="row inputAndSelect">
										<div class="col-xs">
											<input type="text" class="form-control text-right" placeholder="You get" value="48.99"></input>
										</div>
										<div class="col selectWrapper">
											<select id="" class="form-control">
												<option value="1">USD</option>
											</select>
										</div>
									</div>

									<div class="row add8top middle-xs">
										<div class="col-xs opacity75 small">											
											Amount already includes commission:
											Bank Card: 4.5%  BTCBIT: 5%  ETH: 0.005 ETH
										</div>
										<div class="col">											
											<input type="submit" class="btn btn-primary min100" value="Sell"></input>
										</div>
									</div>

									</form>
								</div>
							</section>
						</div>
					</div>
				</div>

				<section class="section section--chart" data-family="charts">
				<a id="sectionCharts"></a>
					<div class="section__header">
						<div class="row middle-xs" style="flex-wrap: nowrap;">
							<div class="col">
								<div class="white preudoSelect">
									<div><small>Market</small></div>
									<div><strong class="nowrap">ETH - USD</strong></div>
								</div>
							</div>
							<div class="col-xs">
								<ul class="tabs tabs--small tabs--chart">
									{% for step in chartSteps %}
										<li{% if loop.first %} class="active"{% endif %}><a href="#">{{step}}</a><li>
									{% endfor %}
								</ul>
							</div>
							<div class="col">
								{% set icons = ["gear", "chart", "expand"] %}
								<ul class="tabs tabs--small">
									{% for icon in icons %}
										<li><a href="#"><img src="./img/chart_icon_{{icon}}.png" /></a><li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="section__body">
						<div id="chart"></div>
					</div>
					<div class="section__footer">
						<div class="chart__stats">
							<div class="chart_stats_col">
								<div><strong class="white">$50,782,361,529</strong> USD</div>
								<div class="smaller">Market Cap</div>
							</div>
							<div class="chart_stats_col">
								<div><strong class="white">$1,767,390,000</strong> USD</div>
								<div class="smaller">Volume (24h)</div>
							</div>
							<div class="chart_stats_col">
								<div><strong class="white">98,852,795</strong> ETH</div>
								<div class="smaller">Circulating Supply</div>
							</div>
							<div class="chart_stats_col">
								<div><strong class="green">507.9554</strong></div>
								<div class="smaller">Highest 24-hours</div>
							</div>
							<div class="chart_stats_col">
								<div><strong class="red">500.0000</strong></div>
								<div class="smaller">Lowest 24-hours</div>
							</div>
							<div class="chart_stats_col">
							</div>
						</div>
					</div>
				</section>
				
			</div>
			<div class="main__right col-xs-12 col-sm-12 col-md-12 col-lg-3">
				<section class="section latestTransactions" data-family="transactions">
					<a id="sectionTransactions"></a>
					<h4 class="section__header">Latest Transactions</h4>
					<div class="height100percent">
						<div class="tableWrapper">
							<table class="table smaller">
								<thead>
									<tr>
										<th>Time</th>
										<th>Deposit</th>
										<th>Receive</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
								{% for i in 0..4 %}
									{% for transaction in transactions %}
										<tr>
											<td>
												<div class="nowrap">{{ transaction[0] }}m ago</div>
											</td>
											<td class="blue">
												<div>{{ transaction[1] }}</div>
											</td>
											<td class="blue">
												<div>{{ transaction[2] }}</div>
											</td>
											<td>
												<div class="nowrap">${{ transaction[3]|number_format(2, '.', ' ') }}</div>
											</td>
										</tr>
									{% endfor %}
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="./js/main.279ce88d.js"></script>
{% endblock %}

