{% extends 'layout/main.twig' %}

{% set pageId = 'faq' %}
{% set title = site["title"] ~ " / FAQ" %}

{% block main %}
	<main class="main">
		<div class="container">
			<div class="row center-xs">
				<div class="col-xs-12 text-center add24top add16bottom">
					<div class="logo__box"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div>
					<h1 class="main__title">Frequently asked questions</h1>

					<div class="faq">
						{% for item in faq %}
							<div class="faq__item panel{% if loop.first %} active{% endif %}">
								<div class="faq__item__question"><strong>{{ item.question }}</strong></div>
								<div class="faq__item__answer smaller light">{{ item.answer }}</div>
							</div>
						{% endfor  %}
					</div>
					<div class="add40top"><img class="icon icon--full at-center" src="./img/info_icon.png" /></div>
					<h3 class="add16inside">
						<strong>Do you have any questions?</strong>
						<div class="subheader add8top">Please feel free to <a href="support.html">contact us</a> if you have any more questions.</div>
					</h3>

				</div>

			</div>
		</div>
	</main>
{% endblock %}

