{% extends 'layout/main.twig' %}

{% set pageId = 'home' %}
{% set guest = true %}
{% set title = site["title"] %}

{% block main %}
	<section class="section section--buy-sell" style="padding-top:4px;">
		<div class="container" id="tab-container">
			<ul class="tabs tabs--trade">
				<li class=""><a href="#buy" class="add8inside">Buy</a></li>
				<li class=""><a href="#sell" class="add8inside">Sell</a></li>
			</ul>
			{% include './include/buy.twig' %}
			{% include './include/sell.twig' %}
		</div>
	</section>

	<section class="section section--prices">
		<ul>
			<li>BTC/USD: <span class="white">6840.1</span><span class="mdi mdi-arrow-up add4left"></span></li>
			<li>ETH/USD: <span>418.75</span><span class="mdi mdi-arrow-down add4left"></span></li>
			<li>BCH/USD: <span>656.28</span><span class="mdi mdi-arrow-up add4left"></span></li>
			<li>XRP/USD: <span>0.4884</span><span class="mdi mdi-arrow-up add4left"></span></li>
			<li>BTC/EUR: <span>5513.4</span><span class="mdi mdi-arrow-up add4left"></span></li>
			<li>ETH/EUR: <span class="white">337.64</span><span class="mdi mdi-arrow-down add4left"></span></li>
			<li>XRP/EUR: <span class="white">0.3983</span><span class="mdi mdi-arrow-up add4left"></span></li>
			<li>ETH/BTC: <span>0.061217</span><span class="mdi mdi-arrow-down add4left"></span></li>                
		</ul>
	</section>
	
	<main class="main">
		<section class="section section--howItWorks">
			<div class="container">
				<h3 class="text-center add24top add24bottom" style="min-width: 290px;"><strong>How does it work?</strong></h3>
				<div class="row text-center">
					<div class="col-xs-12 col-sm-4 add24inside">
						<div class="column">
							<div class="column__content">
								<div class="add8bottom"><img src="./img/icon_1.png" class="icon" /></div>
								<div class="add8bottom"><strong class="bigger">1. Create your account</strong></div>
								<div class="opacity75">All your data is encrypted and stored on secure servers</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 add24inside">
						<div class="column">
							<div class="column__content">
								<div class="add8bottom"><img src="./img/icon_2.png" class="icon" /></div>
								<div class="add8bottom"><strong class="bigger add8bottom">2. Verification</strong></div>
								<div class="opacity75">Go through the verification of your identity to make payments</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 add24inside">
						<div class="column">
							<div class="column__content">
								<div class="add8bottom"><img src="./img/icon_3.png" class="icon" /></div>
								<div class="add8bottom"><strong class="bigger add8bottom">3. Purchase</strong></div>
								<div class="opacity75">Choose your currancy and the amount you want to buy</div>
							</div>
						</div>
					</div>
				</div>
				<div class="add24inside text-center">
					<span class="strong">Start buying and selling crypto currency today!</span>
					<div class="add8top"><a class="btn btn-primary" href="registration.html">Create acount</a></div>
				</div>
			</div>
		</section>


		<section class="section section--ourAdvantages">
			<div class="container">
				<div class="row text-center">

					<div class="col-xs-12 col-sm-6 add24inside add8bottom hidden-xs-up">
						<div class="add24bottom">
							<h3 class="text-center"><strong>Our Advantages</strong></h3>
							<div class="text-center smaller opacity75">Here are a few reasons why you should choose BTCBIT</div>
						</div>
						<img src="./img/devices.png" />
					</div>
					<div class="row hidden-xs-up">
							<div class="advantage col-xs-6">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">EXCHANGE</div>
								<div class="lighter">Instant purchase and sale of crypto currency</div>
							</div>
							
							<div class="advantage col-xs-6">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">SECURE STORAGE</div>
								<div class="lighter">100% secured data</div>
							</div>
							
							<div class="advantage col-xs-6">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">PARTNERSHIP PROGRAMM</div>
								<div class="lighter">Income to 25% with each exchange</div>
							</div>
							<div class="advantage col-xs-6">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">MOBILE ADAPTABILITY</div>
								<div class="lighter">Website is fully adapted for mobile devices</div>
							</div>
							<div class="advantage col-xs-6">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">MONITORING</div>
								<div class="lighter">Instant monitoring cryptocurrency course on the market</div>
							</div>
							<div class="advantage col-xs-6">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">DDOS PROTECTION</div>
								<div class="lighter">Installed modern defense against DDoS attacks</div>
							</div>

					</div>

					<div class="row hidden-xs">
						<div class="col-xs-12 col-sm-3 add24inside">
							<div class="advantage">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">MOBILE ADAPTABILITY</div>
								<div class="lighter">Website is fully adapted for mobile devices</div>
							</div>
							<div class="advantage">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">MONITORING</div>
								<div class="lighter">Instant monitoring cryptocurrency course on the market</div>
							</div>
							<div class="advantage">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">DDOS PROTECTION</div>
								<div class="lighter">Installed modern defense against DDoS attacks</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 add24inside">
							<div class="add24bottom">
								<h3 class="text-center"><strong>Our Advantages</strong></h3>
								<div class="text-center smaller opacity75">Here are a few reasons why you should choose BTCBIT</div>
							</div>
							<img src="./img/devices.png" />
						</div>
						<div class="col-xs-12 col-sm-3 add24inside">
							<div class="advantage">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">EXCHANGE</div>
								<div class="lighter">Instant purchase and sale of crypto currency</div>
							</div>
							
							<div class="advantage">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">SECURE STORAGE</div>
								<div class="lighter">100% secured data</div>
							</div>
							
							<div class="advantage">
								<img src="./img/check_icon.png" class="icon" />
								<div class="strong add4bottom">PARTNERSHIP PROGRAMM</div>
								<div class="lighter">Income to 25% with each exchange</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section section--faq">
			<div class="container">
				<h3 class="text-center add24bottom add40top"><strong>Frequently asked questions</strong></h3>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="row add24bottom">
							<div class="col">
								<img src="./img/info_icon.png" class="icon add8right" />
							</div>
							<div class="col-xs">
								<div class="strong bigger add8bottom">Is it possible to exchange money anonymously?</div>
								<div class="lighter smaller">Mauris et eros scelerisque, gravida eros non, volutpat odio. In porta pulvinar porttitor.  ultricies nibh. Proin mollis vehicula vestibulum.Mauris et eros scelerisque, gravida eros non.</div>
							</div>
						</div>

						<div class="row add24bottom">
							<div class="col">
								<img src="./img/info_icon.png" class="icon add8right" />
							</div>
							<div class="col-xs"> 
								<div class="strong bigger add8bottom">How long does it take to complete a transaction?</div>
								<div class="lighter smaller">Pellentesque euismod felis porttitor, id lacus finibus, euismod felis porttitor, ultricies nibh.</div>
							</div>
						</div>

						<div class="row add24bottom">
							<div class="col">
								<img src="./img/info_icon.png" class="icon add8right" />
							</div>
							<div class="col-xs">
								<div class="strong bigger add8bottom">Why do I need to provide my personal information?</div>
								<div class="lighter smaller">
								Pellentesque euismod felis porttitor, id lacus finibus, 
								euismod felis porttitor, ultricies nibh. Proin mollis vehicula 
								vestibulum. Mauris et eros scelerisque, gravida eros non 
								</div>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="row add24bottom">
							<div class="col">
								<img src="./img/info_icon.png" class="icon add8right" />
							</div>
							<div class="col-xs">
								<div class="strong bigger add8bottom">Is it possible to exchange money anonymously?</div>
								<div class="lighter smaller">Mauris et eros scelerisque, gravida eros non, volutpat odio. In porta pulvinar porttitor.  ultricies nibh. Proin mollis vehicula vestibulum.Mauris et eros scelerisque, gravida eros non.</div>
							</div>
						</div>

						<div class="row add24bottom">
							<div class="col">
								<img src="./img/info_icon.png" class="icon add8right" />
							</div>
							<div class="col-xs"> 
								<div class="strong bigger add8bottom">How long does it take to complete a transaction?</div>
								<div class="lighter smaller">Pellentesque euismod felis porttitor, id lacus finibus, euismod felis porttitor, ultricies nibh.</div>
							</div>
						</div>

						<div class="row add24bottom">
							<div class="col">
								<img src="./img/info_icon.png" class="icon add8right" />
							</div>
							<div class="col-xs">
								<div class="strong bigger add8bottom">Why do I need to provide my personal information?</div>
								<div class="lighter smaller">
								Pellentesque euismod felis porttitor, id lacus finibus, 
								euismod felis porttitor, ultricies nibh. Proin mollis vehicula 
								vestibulum. Mauris et eros scelerisque, gravida eros non 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<div class="whiteBg add24inside">
	<div class="text-center"><div class="logo__box" style="margin-top: -68px;"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div></div>
		<section class="section section--about">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="text-center add32bottom add16top"><strong>About BTCBIT service</strong></h3>
<p class="lighter">BTCBIT is a Digital and Cryptocurrency exchange, lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non purus quis risus euismod auctor. Cras vel quam vitae orci varius feugiat. Morbi scelerisque ligula sem, sed pharetra diam maximus at. Nam eu dui erat. Nullam ullamcorper ac mi tristique sagittis. Integer pellentesque fermentum enim quis maximus. In hac habitasse platea dictumst. Vivamus iaculis, urna nec fermentum eleifend, sem lacus porta est, quis vehicula tellus sapien vel lectus. Praesent eleifend ante sed cursus lacinia.</p>
<p class="lighter">Mauris aliquam dui nec ipsum aliquet sollicitudin. Nullam euismod lacus ac enim ornare, ac elementum arcu condimentum. Proin aliquam ex ac nisi lacinia suscipit. Morbi elementum ut velit sit amet interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis nec metus ullamcorper gravida. Donec sed fermentum turpis, id auctor arcu. Nam egestas, justo sed posuere elementum, turpis dui scelerisque risus, a dapibus nibh ipsum sit amet velit.</p>
<a class="readMoreLink pointer">Read more <span class="mdi mdi-arrow-right add8left"></span></a>
<div style="display: none;" class="readMoreContent">
	<p class="lighter">BTCBIT is a Digital and Cryptocurrency exchange, lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non purus quis risus euismod auctor. Cras vel quam vitae orci varius feugiat. Morbi scelerisque ligula sem, sed pharetra diam maximus at. Nam eu dui erat. Nullam ullamcorper ac mi tristique sagittis. Integer pellentesque fermentum enim quis maximus. In hac habitasse platea dictumst. Vivamus iaculis, urna nec fermentum eleifend, sem lacus porta est, quis vehicula tellus sapien vel lectus. Praesent eleifend ante sed cursus lacinia.</p>
	<p class="lighter">Mauris aliquam dui nec ipsum aliquet sollicitudin. Nullam euismod lacus ac enim ornare, ac elementum arcu condimentum. Proin aliquam ex ac nisi lacinia suscipit. Morbi elementum ut velit sit amet interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis nec metus ullamcorper gravida. Donec sed fermentum turpis, id auctor arcu. Nam egestas, justo sed posuere elementum, turpis dui scelerisque risus, a dapibus nibh ipsum sit amet velit.</p>
</div>
					</div>
				</div>
			</div>
		</section>

		<div class="container add32top add16bottom">
			<div class="row">
				<div class="col-xs-12">
					<h5>User Feedback</h5>
											<iframe
							src="https://widget.trustpilot.com/trustboxes/54ad5defc6454f065c28af8b/index.html?templateId=54ad5defc6454f065c28af8b&businessunitId=598d867a0000ff0005a8a02c#locale=en-US&styleHeight=220px&styleWidth=100%25&theme=light&stars=4%2C5"
							style="min-height: 200px"
							></iframe>

				</div>
			</div>
		</div>

	</div>



	</main>
{% endblock %}

