{% extends 'layout/main.twig' %}

{% set pageId = 'news' %}
{% set title = site["title"] ~ " / News" %}

{% block main %}
	<main class="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="main__title">Latest News and Updates</h1>
				</div>
				<div class="col-xs-12 col-sm-8">
					{% for item in news %}
						<div class="news">
							<div class="news__thumb">
								<a href="#" style="background-image: url(./img/news/{{ loop.index }}.jpg)"></a>
							</div>
							<div class="news__data">
								<h6 class="news__title"><a href="#">{{ item.title }}</a></h6>
								<div class="news__lead light">{{ item.lead }}</div>
								<div class="row small add16top light">
									<div class="col-xs-6 text-left">By: <a href="#">BTCBIT</a></div>
									<div class="col-xs-6 text-right">Date: {{ item.date }}</div>
								</div>
							</div>
						</div>
					{% endfor %}
					{% include 'include/listing.twig' %}
				</div>
				<div class="col-xs-12 col-sm-4">
					<section class="panel text-center">
						<h3 class="panel__title"><span>BTCBIT Articles</span></h3>
						<div class="add24inside">
							<div class="logo__box logo__box--gray add16bottom"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div>
							<div class="small light add8bottom">Follow BTCBIT on social media to keep up-to-date with the latest news, from a range of useful resources.</div>
							
							<a href="#" class="social social--facebook mdi mdi-facebook"></a>
							<a href="#" class="social social--twitter mdi mdi-twitter"></a>
							<a href="#" class="social social--linkedin mdi mdi-linkedin"></a>
							<a href="#" class="social social--instagram mdi mdi-instagram"></a>
						</div>
					</section>
					<section class="panel">
						<h3 class="panel__title"><span>Categories</span></h3>
						<div class="add24inside">
							<ul class="list list--caps">
								{% for category in newsCategories %}
								<li{% if loop.last %} class="active"{% endif %}><a href="#">{{ category.title }} ({{ category.amount }})</a></li>
								{% endfor %}
							</ul>					
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
{% endblock %}