{% extends 'layout/main.twig' %}

{% set pageId = 'privacy_policy' %}
{% set title = site["title"] ~ " / Privacy Policy" %}

{% block main %}
<main class="main">
	<div class="main__center">
		<div class="container">
			<div class="row center-xs">
				<div class="col-xs-12 text-center add24top add16bottom">
					<div class="logo__box"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div>
					<h1 class="main__title">Privacy Policy</h1>
				</div>
				<div class="col-xs-12 text-center">
					<p class="lead add32bottom">This article outlines BTCBIT.NET refund policies based on type of exchange transactions
						performed</p>

					<div class="lighter text-left">

						<h6>1. Privacy Policy</h6>
						<p>The Privacy Policy describes the rights of the customer to maintain confidentiality about collection,
							processing, usage, storage and protection of personal data. Privacy policy is applicable to BTCBIT.NET exchange
							service website, its services and tools regardless of the type of access or use. Client accepts terms of this
							Privacy Policy by accessing or using the products, services, features, technologies or functions offered by
							BTCBIT.NET exchange service.</p>

						<h6>2. Customer information collecting</h6>
						<p>When customer uses service provided by BTCBIT.NET exchange service, system collects information from your
							mobile phone, computer or other devices which have access to exchange service. Information which is sent to
							BTCBIT.NET exchange service system includes information about pages you visited, IP address, device ID, type of
							operating system, your location and other information. BTCBIT.NET exchange service is collecting and analyzing
							information about customer activities.</p>

						<h6>3. Personal information types</h6>
						<p>
							Name, Surname;
							Date of Birth;
							Identification by ID document.
							Place of permanent residence;
							E-mail address;
							IP address;
							Telephone number;
							Bank details;
							Completed transactions;
						</p>

						<p>Other similar information.</p>
						<p>Exchange service BTCBIT.NET can request information about it customers from third parties, using services that
							provide identity check services, in order to verify your identity and reduce the risk of fraud, using your
							personal data when receiving services provided by BTCBIT.NET exchange Service.</p>

						<h6>4. Personal data storage</h6>
						<p>According to BTCBIT.NET exchange service data storage policy, BTCBIT.NET exchange Service stores customers
							accounts and personal data for five years. Exchange service BTCBIT.NET carries out about all security measures to
							ensure the confidentiality of personal data and protection of personal data from loss, misuse, modification or
							destruction client personal data.</p>

						<h6>5. Personal data disclosure</h6>
						<p>Exchange service BTCBIT.NET has right to provide personal data to following parties:</p>
						<p>Law enforcement authorities and other persons in accordance with court request, court order or other legal
							process request, applicable to exchange service BTCBIT.NET.</p>
						<p>Financial institutions which are cooperating with BTCBIT.NET exchange service.</p>

						<h6>6. Using Cookies files</h6>
						<p>BTCBIT.NET Exchange service uses cookies to improve efficiency and convenience for its users. User agrees to
							accept cookie files, store information on device, this information is used by BTCBIT.NET exchange service and its
							service partners for service provisioning by BTCBIT.NET exchange service.</p>

						<h6>7. Feedback</h6>
						<p>If you have any questions about our privacy policy, please contact us:</p>
						<p>info@btcbit.netocessing Returns/Refunds of funds, are fully paid by the Client.</p>

						<h6>Commissions for Returns/Refunds:</h6>
						<p>Bank card: 4.5%</p>
						<p>Company's commission: 5%</p>
						<p>In case if the User does not wish to accept the revised Refund Policy, he/she should not continue to use
							BTCBIT.NET Services. If the User continues to use the Services after the date on which the change comes into
							effect, his/her use of the Services to be bound by the new Refund Policy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}