{% extends 'layout/main.twig' %}

{% set pageId = 'refind_policy' %}
{% set title = site["title"] ~ " / Refind Policy" %}

{% block main %}
<main class="main">
	<div class="main__center">
		<div class="container">
			<div class="row center-xs">
				<div class="col-xs-12 text-center add24top add16bottom">
					<div class="logo__box"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div>
					<h1 class="main__title">Refund Policy</h1>
				</div>
				<div class="col-xs-12 text-center">
					<p class="lead add32bottom">This article outlines BTCBIT.NET refund policies based on type of exchange transactions
						performed</p>
				</div>


				<div class="col-xs-12 text-left lighter">
					<p>BTCBIT.NET guarantees to its User the right for refund, in case if such User is not satisfied with the quality
						of the provided Services.
						Furthermore, BTCBIT.NET declares that its User has the right to change his/her mind in case if the User’s Account
						was already funded and to request his/her
						Funds to be returned.</p>
					<ul class="list list--simple">
						<li>This Refund Policy concerns exclusively Transaction fees and Users’ Funds.</li>
						<li>BTCBIT.NET undertakes to make its best effort to assist the Users in case of any disputes related to purchased
							crypto-currencies Refunds and Returns </li>
					</ul>

					<h5 class="add16bottom">1. General conditions</h5>
					<p>The User who has paid for the BTCBIT.NET Services, i.e. paid a transaction fee or has funded his account may
						request a Refund or Return in accordance with the Eligibility Criteria as further set out herein.</p>
					<p>Refund/Return will only be considered where the User fully complies with the Eligibility Criteria. Where the
						User fails to meet any of the Eligibility Criteria, BTCBIT.NET shall have the right, in its sole discretion, to
						decline the User’s request for a Refund/Return.</p>
					<p>In order to apply for a Refund/Return, the User must request and complete a Refund Form/Return Form and send the
						respective form to the BTCBIT.NET support address - [email protected]</p>
					<p>To prevent Prohibited Conduct, all payments and information related to Refund/Return may be verified by
						BTCBIT.NET. In such case, BTCBIT.NET may request the User to provide certain documents, including, but not limited
						to, identification documents, copy of the User’s Payment Card and Invoice or/and any other prove of the fact that
						disputed payment was made. In case if the User fails to provide appropriate documents or information within three
						(3) days upon the BTCBIT.NET request or in case of any doubts as to authenticity of provided documents, BTCBIT.NET
						shall be entitled to decline the User’s Refund/Return request.</p>
					<p>BTCBIT.NET shall process the User’s Refund Form/Return Form as soon as is reasonably practicable. Response times
						will vary depending on stated reasons for the request. In any case, BTCBIT.NET shall notify the User on the
						outcome of the request in accordance with the timescales set out herein.</p>
					<p>Refund/Return request will only be approved or declined after meticulous verification made by BTCBIT.NET.</p>
					<p>NOTE: Submission of Refund Form/Return Form does not guarantee that the User’s request will be satisfied.</p>

					<h5 class="add16bottom">2. Transactions involving Cryptocurrency</h5>
					<p>Refunds are not possible for all transactions where customer is purchasing Cryptocurrency. However, in case
						customer changed his mind and would like to return purchased CryptoCurrency BTCBIT.NET would be able to buy it
						back based on current market rate minus the service fee for the transaction. In other words, customer can exchange
						purchased Cryptocurrency for any existing Digital Currency (i.e. PayPal) or Payment Method (i.e. Credit Card
						payment or Bank Transfer).</p>
					<p>The reason for such policy is the fact that price of Cryptocurrency changes constantly thus the value of
						purchased Cryptocurrency on the moment of refund will be different.</p>

					<h5 class="add16bottom">3. Chargebacks</h5>
					<p>BTCBIT.NET expects the User to contact it using BTCBIT.NET contact details to resolve any problem or issue
						related to his/her payments, before the User makes any Chargeback request. This Section does not affect any rights
						and/or claims, which the User may have against the bank/financial institution.</p>
					<p>BTCBIT.NET will investigate any Chargeback requests made by the User and in response will inform the User’s
						Issuing Bank whether any Service or Transaction has been cancelled.</p>
					<p>BTCBIT.NET reserves the right to suspend User's account and lock User's Funds during the chargeback
						investigation procedure.</p>

					<h5 class="add16bottom">4. Miscellaneous</h5>
					<p>Any charges, which arise upon processing Refund/Return, shall be borne solely by the User. Such charges will be
						deducted from the final amount of Refund/Return.</p>
					<p>This Refund Policy will be amended from time to time if there is any change in the legislation. Terms and
						conditions of the Refund Policy are subject to change by BTCBIT.NET and in the case of any amendments, BTCBIT.NET
						will make an appropriate announcement. The changes will apply after BTCBIT.NET has given notice.</p>
					<p>In case the Client has provided incorrect card holder data when making payment, commission fees, which arise in
						processing Returns/Refunds of funds, are fully paid by the Client. </p>

					<p>Commissions for Returns/Refunds:</p>
					<p>Bank card: 4.5%<br />
						Company's commission: 5%</p>
					<p>In case if the User does not wish to accept the revised Refund Policy, he/she should not continue to use
						BTCBIT.NET Services. If the User continues to use the Services after the date on which the change comes into
						effect, his/her use of the Services to be bound by the new Refund Policy.</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}