{% extends 'layout/main.twig' %}

{% set guest = true %}
{% set pageId = 'registration_step3' %}
{% set title = site["title"] ~ " / Registration / Identity confirmation" %}

{% block main %}
<main class="main">
	<div class="main__center">
		<div class="container">
			<form action="registration_4_done.html" method="get">
				<div class="panel add24inside">

					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">

						<div class="row">
							<div class="col-xs-12 col-sm-10 col-sm-offset-1 add24top add40bottom">
								<img src="./img/btcbit_logo_full_dark.png" class="max150" />
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-offset-1">
								<h1 class="main__title">Identity confirmation</h1>
								<h6>
									Identity verification
									<div class="subheader">
										Additionally for identity confirmation or identity and resident country confirmation<br />
										Verification Department can request:<br />
										Your photo with ID card / international passport next to your face<br />
									</div>
								</h6>
								<div class="form-group add40top">
									<label for="type">Select type of document you are uploading</label>
									<div class="selectWrapper">
										<select id="type" class="form-control">
											<option value="1">International Passport (Double pages)</option>
										</select>
									</div>
								</div>

								<div class="form-group add16top">
									<label for="type">Upload Document</label>
									<div class="inputFile">
										<div class="inputFile__input form-control"></div>
										<div class="inputFile__button"><a href="#" class="btn btn-block btn-secondary">Upload</a></div>
									</div>
									<small class="light">We only accept JPG, JPEG, PNG, PDF less than 3mb in size</small>
								</div>
							</div>
							<div class="col-xs-12 col-sm-1"></div>
							<div class="col-xs-none col-sm-3">
								<img src="./img/passport.jpg" class="light" />
							</div>
						</div>
					
						</div>
					</div>

				</div>

				<div class="panel add16top add24inside">
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">

							<div class="row">
								<div class="col-xs-12 col-sm-7 col-sm-offset-1">
									<h6>
										Address verification
										<div class="subheader">Choose the type of document that confirms address of your residence.
											Not older than 3 months</div>
									</h6>
									<div class="form-group add40top">
										<label for="type2">Select type of document you are uploading</label>
										<div class="selectWrapper">
											<select id="type2" class="form-control">
												<option value="1">Proof of residence issued by local authority</option>
											</select>
										</div>
									</div>

									<div class="form-group add16top">
										<label for="type">Upload Document</label>
										<div class="inputFile">
											<div class="inputFile__input form-control"></div>
											<div class="inputFile__button"><a href="#" class="btn btn-block btn-secondary">Upload</a></div>
										</div>
										<small class="light">We only accept JPG, JPEG, PNG, PDF less than 3mb in size</small>
									</div>
								</div>
							</div>

						</div>
					</div>


				</div>

				<div class="panel add16top add24inside">

					<div class="row">
						<div class="col-xs-12 col-sm-10 col-sm-offset-1">

							<div class="row bottom-xs">
								<div class="col-xs-12 col-sm-7 col-sm-offset-1">
									<h6>
										Indicate the sourse of funds
									</h6>
									<div class="form-group add40top">
										<label for="funds">Your sourse of funds</label>
										<input type="text" class="form-control" id="funds" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 text-right">
									<div class="form-group">
										<input class="btn btn-primary btn-lg" type="submit" value="Continue" />
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</form>
		</div>

	</div>
</main>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}