{% extends 'layout/main.twig' %}

{% set guest = true %}
{% set pageId = 'registration_step1' %}
{% set title = site["title"] ~ " / Registration" %}

{% block main %}
	<main class="main" style="background-image: url(./img/globe_bg.png)">
		<div class="main__center">
			<div class="row center-xs">
				<div class="col-xs-12 text-center add24top add16bottom">
					<img src="./img/btcbit_logo_full_dark.png" class="max150" />
				</div>
			</div>
			<form class="row center-xs registrationForm add24bottom" method="get" action="registration_2_personal.html">
				<div class="max300">
					<h6 class="add24bottom">
						Sign up
						<div class="subheader">Already have an account? <a href="authorization.html">Login</a> / <a href="#">Log in with Facebook</a></div>
					</h6>

					<div class="form-group">
    					<label for="email">Please enter your Email</label>
    					<input type="email" class="form-control" id="email" placeholder="" />
  					</div>
					<div class="form-group">
    					<label for="password">Please enter your Password</label>
    					<input type="password" class="form-control" id="password" placeholder="" />
  					</div>
					<div class="form-group">
    					<label for="password">Confirm your Password</label>
    					<input type="password" class="form-control" id="password" placeholder="" />
  					</div>
					<div class="form-group add32bottom">
    					<div class="g-recaptcha" data-sitekey="6Lcb2GoUAAAAAHf07pbHHVXZ7wliEw6SDTh4fKFp"></div>
  					</div>
					<div class="form-group checkbox">
    					<input type="checkbox" id="checkbox" />
						<label for="checkbox">I agree with BTCBIT <a href="terms.html">Terms and Conditions</a>, <a href="aml_policy.html">AML Policy</a>, 
and <a href="privacy_policy.html">Privacy Policy</a>.</label>
  					</div>	
					<div class="form-group">
    					<input class="btn btn-block btn-primary btn-lg" type="submit" value="Continue" />
  					</div>	
				</div>
			</form>
		</div>
	</main>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

