{% extends 'layout/main.twig' %}

{% set guest = true %}
{% set pageId = 'registration_step2' %}
{% set title = site["title"] ~ " / Registration / Well done!" %}

{% block main %}
	<main class="main add40top add40bottom" style="background-image: url(./img/planets_bg.png); background-size: contain">
		<div class="main__center">
				<div class="row center-xs text-center">
					<div class="col-xs-12 add24top add16bottom">
						<img src="./img/btcbit_logo_full_dark.png" class="max150" />
					</div>
				</div>
				<div class="row center-xs text-center">
					<div class="col-xs-12">
						<h3 class="add40top">
							Well Done!
							<div class="subheader add16top max500 at-center">
You have successfully added all information for your profile verification. 
We will review your verification request within 12 hours. You will receive a letter to your e-mail</div>
						</h6>
						<div class="form-group add40top">
							<input class="btn btn-primary btn-lg" type="submit" value="Back to homepage" />
						</div>	
					</div>
				</div>
		</div>
	</main>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

