{% extends 'layout/main.twig' %}

{% set pageId = 'support' %}
{% set title = site["title"] ~ " / Support" %}

{% block main %}
	<main class="main">
		<div class="container">
			<div class="row add16top reverse-xs">
				<div class="col-xs-12 col-sm-5 col-md-4 smaller" style="padding: 21px 24px 0 0; ">
					<h4 class="add16bottom"><img class="icon icon--40 add8right" src="./img/info_icon.png" />Useful information</h4>
					<p class="light max500">We advise you to refer to our information 
					pages below before you fill in the 
					'Contact Us'  form, as you can find useful 
					information there about cryptocurrency exchanges on our website.</p>
					<ul class="list add24bottom row">
						<li class="col-xs-12 col-sm-6">
							<div class="add8bottom"><a href="faq.html" class="add8right">Frequently asked questions</a></div>
							<div class="add8bottom"><a href="aml_policy.html" class="add8right">AML Policy</a></div>
							<div><a href="privacy_policy.html" class="add8right">Privacy Policy</a></div>
						</li>
						<li class="col-xs-12 col-sm-6">
							<div class="add8bottom"><a href="terms.html" class="add8right">Terms and Conditions</a></div>
							<div class="add8bottom"><a href="refund_policy.html" class="add8right">Refund Policy</a></div>
							<div class="add8bottom"><a href="news.html" class="add8right">News Blog</a></div>
						</li>
					</ul>
					<div class="row lighter">
						<div class="col-xxs-12 col-xs-6 add24bottom">
							<div class="add16bottom"><strong>BTCBIT</strong></div>
							<div class="add4bottom">SIA BTC Baltic</div>
							<div class="add4bottom">Zentenes iela 30-14,</div> 
							<div class="add4bottom">Riga, Latvia, LV1069</div>
							<div class="add4bottom">Reg. No.: 40203070322</div>
						</div>
						<div class="col-xxs-12 col-xs-6 add24bottom">
							<div class="add16bottom"><strong>CONTACTS</strong></div>
							<div class="add8bottom">
							Phone<br />
							<a href="tel:0037166090222">+371 66 090 222</a>
							</div>

							<div class="add8bottom">
							Email<br />
							<a href="mailto:info@btcbit.net">info@btcbit.net</a>
							</div>

							<div class="add8bottom">
							Telegram<br />
							<a href="tg://resolve?domain=btcbitnet">@btcbitnet</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8">
					<h1 class="main__title"><img src="./img/btcbit_logo.png" class="logo__image inline-block hidden-xs" style="margin-right: 16px;" /> Get in touch with us today</h1>
					<form class="add24bottom">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label for="firstname">First name</label>
									<input type="text" class="form-control" id="firstname" placeholder="" />
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label for="email">Email address</label>
									<input type="email" class="form-control" id="email" placeholder="" />
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="subject">Subject</label>
									<div class="selectWrapper">
										<select id="subject" class="form-control">
											<option value="1">Customer Service</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<label for="message">Message</label>
									<textarea class="form-control" id="message" style="min-height: 200px;"></textarea>
								</div>
							</div>
							
							<div class="col-xs-12">
								<div class="form-group">
									<div class="g-recaptcha" data-sitekey="6Lcb2GoUAAAAAHf07pbHHVXZ7wliEw6SDTh4fKFp"></div>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-group">
									<input class="btn btn-primary" type="submit" value="Send Message" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
