{% extends 'layout/main.twig' %}

{% set pageId = 'terms' %}
{% set title = site["title"] ~ " / Terms & Conditions" %}

{% block main %}
<main class="main">
	<div class="main__center">
		<div class="container">
			<div class="row center-xs">
				<div class="col-xs-12 text-center add24top add16bottom">
					<div class="logo__box"><img class="logo__image at-center" src="./img/btcbit_logo.png" /></div>
					<h1 class="main__title">Terms &amp; Conditions</h1>
				</div>
				<div class="col-xs-12 text-center add16bottom">
					<p class="lighter add8bottom">Agreement</p>
					<p class="light smaller add40bottom">This Agreement sets out the terms of service of electronic currency exchange
						service provided by legal entity "BTC Baltic" with registered address Zentenes iela 30-14, Riga, Latvia, LV-1069,
						doing business as BTCBIT.NET exchange place. Using the services of BTCBIT.NET exchange place means that the User
						fully accepts all terms and
						conditions of the Agreement. In case of disagreement with the Agreement, the User should not perform any
						operations.
						All payment cards details are not failed and kept by Legal entity BTC Baltic.</p>

					<div class="lighter text-left add24bottom">
						<h6 class="add16bottom">1. Definition of terms</h6>
						<p><strong>BTCBIT.NET exchange place</strong> – partially automated system “BTCBIT.NET”, located on the Internet
							at https://btcbit.net.</p>
						<p><strong>Customer</strong> – a private person willing to use the service, which is provided by the BTCBIT.NET
							exchange place, and who has agreed with all terms an conditions determined in this Agreement.</p>
						<p><strong>Payment system</strong> – the online payments company or the money transfer company. The online money
							company transfers (i.e.PayPal) serve as electronic alternatives to traditional paper methods like checks and
							money orders. Money transfer company (i.e. Moneygram) works with individuals and businesses through a network of
							agents and clients of financial institutions and transfers official currencies of various governments.</p>
						<p><strong>Recipient Account Details</strong> – number, wallet, email or any other indication of Customer account
							in the Payment system which is stated in the Customer Order for the BTCBIT.NET exchange place to send the Payment
							units.</p>
						<p><strong>Order</strong> – information provided by the Customer via technical means of the BTCBIT.NET exchange
							place in digital format indicating their intention to use the BTCBIT.NET exchange place under the conditions
							proposed by the BTCBIT.NET exchange place and stated in Order details.</p>
					</div>

					<div class="lighter text-left add24bottom">
						<h6 class="add16bottom">2. Subject of the Agreement</h6>
						<p>With the help of technical means of the BTCBIT.NET exchange place by way of making an Order the Customer
							authorizes BTCBIT.NET exchange place for a compensation in its own name and at the Customer expense receives and
							transfers the amount of the Payment units declared by the Customer and stated in the Order details provided by
							the Customer.</p>
					</div>

					<div class="lighter text-left add24bottom">
						<h6 class="add16bottom">3. General provisions and terms</h6>
						<p>Administration of BTCBIT.NET exchange place is not responsible and does not cover losses caused by incorrect or
							unauthorized use of the BTCBIT.NET marketplace, and user errors committed in completing the forms of transaction,
							which can lead to the transfer of funds to the account specified by mistake and also lead to delays in processing
							applications and payouts.</p>
						<p>The Cryptocurrency is involved in significant amount of risk. Prices can fluctuate on any given day. Because of
							such price fluctuations, you may gain or lose value of your assets at any given moment. Any currency may be
							subject to large swings in value and may even become absolutely worthless. There is always an inherent risk that
							losses will occur as a result of buying or selling anything on the market. Unlike most currencies, which are
							supported by government reserves or other legal entities. The currency is absolutely decentralized, which means
							there is no authority that can take corrective measure to protect the cryptocurrencies value in a crisis or issue
							more currency. Cryptocurrency is an autonomous and mostly unregulated worldwide payment system.</p>
						<p>Use of BTCBIT.NET exchange place is strictly prohibited for persons under 18 years or for persons under the age
							of majority. There may be additional risks that we have not foreseen or identified in our Terms of Use. You
							should carefully assess whether your financial situation and tolerance for risk is suitable for buying or selling
							cryptocurrency.</p>
						<p>Exchange service BTCBIT.NET is not responsible for any material losses, claims and incorrectness of the
							specified wallet number. BTCBIT.NET not accepting payments in favor of any third parties and also prohibits
							transfer to wallets that do not belongs to the Customer. BTCBIT.NET is not responsible for the accuracy of the
							specified wallet number by the customer, for the transferring of the cryptocurrency.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}