{% extends 'layout/main.twig' %}

{% set pageId = 'transactions' %}
{% set title = site["title"] ~ " / Transactions" %}

{% block main %}
	<main class="main">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12">
					<h1 class="main__title">My Transactions</h1>
				</div>
			</div>
			<form>
				<div class="row max960 add24bottom">
					<div class="col-xs-6 col-sm-3">
						<div class="form-group">
							<div class="selectWrapper">
								<input type="text" class="form-control datepicker datepicker--from" value="September 9, 2018" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="form-group">
							<div class="selectWrapper">
								<input type="text" class="form-control datepicker datepicker--to" value="September 10, 2018" />
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="form-group">
							<div class="selectWrapper">
								<select id="type" class="form-control">
									<option value="1">All Transactions</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="form-group">
							<input type="submit" class="btn btn-secondary btn-block" value="Search" />
						</div>
					</div>
				</div>
			<form>
			<div class="panel">
				<div class="panel__body">
					<div class="tableWrapper">
						<table class="table table--zebra">
							<thead>
								<tr>
									<th></th>
									<th>Invoice</th>
									<th>Deposit</th>
									<th>Receive</th>
									<th>Created</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								{% for i in 0..3 %}
								<tr>
									<td><a href="transactions_view_invoice.html" class="btn btn-secondary btn-block btn-sm">View</a></td>									<td>BB87865</td>
									<td class="addArrowRight">
										<div class="row middle-xs">
											<div class="col"><img src="./img/card_icon.png" class="icon" /></div>
											<div class="col-xs nowrap">
												<strong>Bank card</strong><br />
												<span class="light">50 USD</span>
											</div>
										</div>
									</td>
									<td class="addArrowRight">
										<div class="row middle-xs">
											<div class="col"><img src="./img/btc_icon.png" class="icon" /></div>
											<div class="col-xs nowrap">
												<strong>BTC</strong><br />
												<span class="light">0.001 BTC</span>
											</div>
										</div>
									</td>
									<td class="nowrap">17th May, 2018 <div class="smaller light">11:30</div></td>
									<td><span class="badge badge--green">Done</span></td>
								</tr>
								<tr>
									<td><a href="transactions_view_invoice.html" class="btn btn-secondary btn-block btn-sm">View</a></td>
									<td>BC07166</td>
									<td class="addArrowRight">
										<div class="row middle-xs">
											<div class="col"><img src="./img/card_icon.png" class="icon" /></div>
											<div class="col-xs nowrap">
												<strong>Bank card</strong><br />
												<span class="light nowrap">50 USD</span>
											</div>
										</div>
									</td>
									<td class="addArrowRight">
										<div class="row middle-xs">
											<div class="col"><img src="./img/eth_icon.png" class="icon" /></div>
											<div class="col-xs nowrap">
												<strong>ETH</strong><br />
												<span class="light nowrap">0.02 ETH</span>
											</div>
										</div>
									</td>
									<td class="nowrap">8th April, 2018<div class="smaller light">11:30</div></td>
									<td><span class="badge badge--red">Cancelled</span></td>
								</tr>
								<tr>
									<td><a href="transactions_view_invoice.html" class="btn btn-secondary btn-block btn-sm">View</a></td>
									<td>CC19844</td>
									<td class="addArrowRight">
										<div class="row middle-xs">
											<div class="col"><img src="./img/card_icon.png" class="icon" /></div>
											<div class="col-xs nowrap">
												<strong>Bank Transfer</strong><br />
												<span class="light nowrap">100 USD</span>
											</div>
										</div>
									</td>
									<td class="addArrowRight">
										<div class="row middle-xs">
											<div class="col"><img src="./img/xrp_icon.png" class="icon" /></div>
											<div class="col-xs nowrap">
												<strong>XRP</strong><br />
												<span class="light nowrap">0.2881 ETH</span>
											</div>
										</div>
									</td>
									<td class="nowrap">22th April, 2018<div class="smaller light">11:30</div></td>
									<td><span class="badge badge--gray">Pending</span></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{% include 'include/listing.twig' %}
		</div>
	</main>
{% endblock %}