{% extends 'layout/main.twig' %}

{% set pageId = 'transactions_view_invoice' %}
{% set title = site["title"] ~ " / Transaction Invoice 0799985" %}

{% block main %}
	<main class="main">
		<div class="container">
			<div class="row middle-xs">
				<div class="col-xs">
					<h1 class="main__title">Transaction invoice BS1118</h1>
				</div>
				<div class="col add8right">
					<a href="transactions.html" class="btn btn-secondary btn-block btn-sm">
						<span class="light mdi mdi-chevron-left add8right"></span>
						<span class="add8right">Go back</span>
					</a>
				</div>
			</div>
			<div class="panel">
				<div class="panel__body">
					<div class="panel__body__part" style="padding-bottom: 0px;">
						<div class="row middle-xs">
							<div class="col-xs-12 col-sm-5 text-right text-left-xs add16bottom">
								<img src="./img/sepa_icon.png" class="icon icon--40 add8right" />
								<div class="inline-block text-left">
									<strong>Bank Transfer (SEPA)</strong><br />
									<span class="light smaller">Deposit: 100 USD</span>
								</div>								
							</div>

							<div class="col-xs-12 add16bottom hidden-xs-up">
								<img src="./img/percent_icon.png" class="icon icon--40 add8right" />
								<div class="inline-block text-left">
									<strong>Comission 5%</strong>
									<div class="light smaller">5 USD</div>
								</div>
							</div>

							<div class="col-sm-2 text-center hidden-xs add16bottom">
								<div><img src="./img/dots.png" /></div>
								<div class="light smaller">comission 5%<br />(5 USD)</div>
							</div>

							<div class="col-xs-12 col-sm-5 text-left add16bottom">
								<img src="./img/eth_icon.png" class="icon icon--40 add8right" />
								<div class="inline-block text-left">
									<strong>Etherium (ETH)</strong><br />
									<span class="light smaller">When our system receive payment</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel__body__part">
						<div class="row">
							<div class="col-xs-12 col-sm-4 text-center text-left-xs add16bottom">
								<div><strong>Started</strong></div>
								<div class="light smaller">Mar 22, 2018 @ 17:42  Europe/Riga</div>
							</div>
							<div class="col-xs-12 col-sm-4 text-center text-left-xs add16bottom">
								<div><strong>Last Update</strong></div>
								<div class="light smaller">Mar 22, 2018 @ 17:55  Europe/Riga</div>
							</div>
							<div class="col-xs-12 col-sm-4 text-center text-left-xs">
								<div><strong>Current Status</strong></div>
								<div class="light smaller">Pending Invoice</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel__body">
					<div class="panel__body__part">
						<h3 class="add24bottom">Payment inforamtion:</h3>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="row add16bottom">
									<div class="col min100 light">
										Invoice:
									</div>
									<div class="col-xs">
										BS1118
									</div>
								</div>
								<div class="row add16bottom">
									<div class="col min100 light">
										Date:
									</div>
									<div class="col-xs">
										Mar 22, 2018
									</div>
								</div>
								<div class="row add24bottom">
									<div class="col min100 light">
										Deposit:
									</div>
									<div class="col-xs">
										100 EUR<br />Bank Transfer (SEPA)
									</div>
								</div>
								<div class="row add16bottom">
									<a class="btn btn-secondary btn-block max300" href="#">View Invoice PDF</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">

								<div class="row add16bottom">
									<div class="col min100 light">Your Wallet:</div>
									<div class="col-xs">
										CFG1 5239 c612 7700 000g f000
									</div>
								</div>
								<div class="row add16bottom">
									<div class="col min100 light">
										Name:
									</div>
									<div class="col-xs">
										Sergry Gretsky
									</div>
								</div>
								<div class="row add16bottom">
									<div class="col min100 light">
										E-mail:
									</div>
									<div class="col">sergeygretsky @gmail.com</div>
								</div>

								<div class="row top-xs add32top">
									<div class="col">
										<span class="mdi mdi-information add8right light big"></span>
									</div>
									<div class="col-xs light smaller">
										If you have questions regarding your transaction, please contact our support Centre or send us a Message via online Chat
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}