.badge {
    display: inline-block;
    padding: 2px 8px;
    background: white;
    font-size: 10px;
    border-radius: 2px;
    color: $green;
    text-transform: uppercase;
}
.badge--big {
    padding: 12px 24px;
    font-size: 12px;
    border-radius: 40px;
    text-transform: none;
}
.badge--green {
    color: white;
    background: green;
}
.badge--gray {
    color: white;
    background: $grayText;
}
.badge--red {
    color: white;
    background: $red;
}