@import "variables";

html, body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	min-height: 100vh;
	background: $background;
	color: $grayText;
	overflow-x: hidden;
}
a {
	color: $blue;
	text-decoration: none;
	transition: .3s;

	&:hover {
		color: darken($blue, 10%);
	}
}
.wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background: #0d1539;
	flex-grow: 0;
}
.footer {
	background: #0d1539;
	flex-grow: 0;
}
main.main {
	flex-grow: 1;
	padding: 24px 24px 0 24px;
	max-width: 100%;
	background: transparent 50% 50% no-repeat;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	&.inverse {
		background-color: #121226;
		color: #94a2b4;
		padding: 8px;
	}
}
.main__left,
.main__center,
.main__right {
	display: flex;
	flex-direction: column;

 }
