//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    @include user-select(none);
    transition: .3s;
    box-shadow: 0 1px 8px rgba(#000, .05);
  
    &,
    &:active,
    &.active {
      &:focus,
      &.focus {
        @include tab-focus;
      }
    }
  
    &:hover,
    &:focus,
    &.focus {
      color: $blue;
      text-decoration: none;
    }
  
    &:active,
    &.active {
      outline: 0;
      background-image: none;
      @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }
  
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: $cursor-disabled;
      @include opacity(.65);
      @include box-shadow(none);
    }
  
    // [converter] extracted a& to a.btn
  }
  
  a.btn {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
  
  
  // Alternate buttons
  // --------------------------------------------------
  
  .btn-default {
    @include button-variant($blue, #fff, #fff, darken($blue, 10%), #fff, #fff);
  }
  .btn-primary {
    @include button-variant(#fff, $blue, $blue, #fff, darken($blue, 5%), darken($blue, 5%));
  }
  .btn-secondary {
    @include button-variant($grayText, linear-gradient(white, $gray), $gray-minus1, darken($grayText, 10%), linear-gradient($gray-plus2, $gray-minus1), $gray-minus2);
  }
  // Success appears as green
  .btn-success {
    @include button-variant(#fff, $blue, $blue, #fff, darken($blue, 10%), darken($blue, 10%));
  }
  // Info appears as blue-green
  .btn-info {
    @include button-variant(#fff, $facebook, $facebook, #fff, darken($facebook, 10%), darken($facebook, 10%));
  }
  // Warning appears as orange
  .btn-warning {
    @include button-variant(#fff, $blue, $blue, #fff, darken($blue, 10%), darken($blue, 10%));
  }
  // Danger and error appear as red
  .btn-danger {
    @include button-variant(#fff, $blue, $blue, #fff, darken($blue, 10%), darken($blue, 10%));
  }
  
  
  // Link buttons
  // -------------------------
  
  // Make a button look and behave like a link
  .btn-link {
    color: $blue;
    font-weight: normal;
    border-radius: 0;
  
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
      @include box-shadow(none);
    }
    &,
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
    &:hover,
    &:focus {
      color: $blue-plus1;
      text-decoration: underline;
      background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $grayText;
        text-decoration: none;
      }
    }
  }
  
  
  // Button Sizes
  // --------------------------------------------------
  
  .btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
  }
  .btn-sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
  .btn-xs {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
  
  // Block button
  // --------------------------------------------------
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  // Vertically space out multiple block buttons
  .btn-block + .btn-block {
    margin-top: 5px;
  }
  
  // Specificity overrides
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    &.btn-block {
      width: 100%;
    }
  }