.faq {
    text-align: left;
}
.faq__item {
    margin-bottom: 8px;
    position: relative;
    padding: 16px 32px 16px 64px;
    cursor: pointer;
    &.active {
        &:before {
            transform: rotate(90deg);
        }
        .faq__item__answer {
            max-height: 500px;
            padding-top: 8px;
        }
    }
    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent $blue;
        top: 21px;
        left: 40px;
        transition: .3s;
        transform: rotate(0deg);
    }
}
.faq__item__question {
}
.faq__item__answer {
    max-height: 0px;
    overflow: hidden;
    padding-top: 0;
    transition: .3s;
}
