.footer {
  background: $blue-minus1;
  color: rgba(#fff,.7);
  hr {
    background: rgba(white,.1);
  }
}
.footer__logoAndSocial {
  margin-bottom: -88px;
  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }
}

.footer__logos {
  background: $blue-minus2;
  margin-bottom: 48px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.footer__logo {
  display: block;
  height: 68px;
  width: auto;
  padding: 16px;
  img {
    height: 100%;
    max-height: 36px;
    width: auto;
    opacity: .7;
    transition: .3s;
  }
  &:hover {
    img {
      opacity: 1;
    }
  }
}

.footer__main {
  font-size: .9rem;
}
.footer__main__links {
  position: relative;
  left: 5%;
}
.footer__list {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
  text-align: left;
  li {
    color: rgba(#fff,.7);
    margin: 0;
    padding: 0;
    a {
      color: inherit;
      display: inline-block;
      padding: 0 0 8px 0;
      small {
        display: block;
        margin-bottom: 2px;
        opacity: .5;
      }
      &:hover {
        color: rgba(#fff, 1);
      }
    }
    &.footer__list__heading {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: .8rem;
      font-weight: 700;
      opacity: .5;
      padding-bottom: 16px;
    }
    &.active {
      a {
        color: $blue;
      }
    }
  }
}

.footer__social a {
  color: inherit;
  font-size: 1.2rem;
  display: inline-block;
  padding: 8px;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.footer__copyright {
  background: $blue-minus2;
  padding: 16px;
  text-align: center;
  font-size: .7rem;
  color: rgba(#fff, .4);
}


