.header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: $blue-minus1;
  color: rgba(#fff,.8);
  a {
    color: inherit;
    &:hover {
      color: rgba(#fff, 1);
    }
  }
}

.header--home {
  background: transparent;
  height: 80px;
  background: -moz-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
  .logo__image {
    max-width: 120px;
  }
  .mainMenu {
    text-transform: uppercase;
  }
}

.hero {
  position: relative;
  z-index: 1;
  margin-top: -80px;
  background: transparent url(../img/home_bg.jpg) 50% 100% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.hero__logo {
  max-width: 60px;
  display: inline-block;
  margin-bottom: 32px;
}
.hero__heading {
  color: inherit;
  font-size: 3rem;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 1.2;
  .subheader {
    color: inherit;
    font-size: 1rem;
    margin-top: 16px;
  }
}

.logo {
  display: block;
  padding: 16px 24px;
  flex-basis: 220px;
  text-align: left;
  @media screen and (max-width:767px){
    flex-basis: auto;
  }
}
.logo__box {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  border-radius: 64px;
  padding-top: 17px;
}
.logo__box--gray {
  background: $gray-plus2;
  box-shadow: none;
}
.logo__wrapper {
  background: #fff;
  padding: 16px;
}
.logo__image {
  max-width: 32px;
  height: auto;
  display: block;
}


.status {
  padding: 16px 24px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-basis: 220px;
  @media screen and (max-width: 767px) {
    display: none;
  }

}
.status__links {
  white-space: nowrap;
}
.status__user {
  flex-grow: 1;
  color: #fff;
  a, h6 {
    font-size: 1rem;
    color: inherit;
  }
  &.active {
    span {
      color: $blue;
    }  
  }
}
.status__user__name {
  white-space: nowrap;
}
.status__lang {
  flex-grow: 0;
  font-size: .8rem;
  display: inline-block;
  width: 28px;
  min-width: 28px;
  height: 28px;
  background: transparent 50% 50% no-repeat;
  border: 1px solid rgba(white, .5);
  border-radius: 14px;
  background-size: cover;
  &.status__lang--mobile {
    width: 20px;
    min-width: 20px;
    height: 20px;
    transform: translate(-10px,5px);
  }
}
.status__dots {
  padding: 8px;
  font-size: 20px;
}