.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}
.white {
  color: #fff !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.inline-block {
  display: inline-block !important;
  vertical-align: middle;
}

.clearfix {
  @include clearfix;
}

.lighter {
  color: lighten(#324355, 15%);
}

.light {
  color: lighten(#324355, 30%);
}

.opacity75 {
  opacity: .75;
}

.opacity5 {
  opacity: .5;
}

/* Alignment modifiers
 ========================================================================== */

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.text-center-xs {
  @media screen and (max-width: 767px) {
    text-align: center !important;
  }
}
.text-left-xs {
  @media screen and (max-width: 767px) {
    text-align: left !important;
  }
}
.text-right-xs {
  @media screen and (max-width: 767px) {
    text-align: right !important;
  }
}

.text-justify {
  text-align: justify !important;
}

.text-top {
  vertical-align: top !important;
}

.text-middle {
  vertical-align: middle !important;
}

.text-bottom {
  vertical-align: bottom !important;
}

.nowrap {
  white-space: nowrap;
}

/*
 * Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
 */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-auto {
  overflow: auto;
  white-space: nowrap;
  &::-webkit-scrollbar { 
    display: none; 
  }
}

/*
 * Break strings if their length exceeds the width of their container
 */

.text-break {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.smaller {
  font-size: .9rem;
}

.small {
  font-size: .8rem;
}
.bigger {
  font-size: 1.1rem;
}

.big {
  font-size: 1.2rem;
}

.huge {
  font-size: 2rem;
  sup {
    font-size: .5em;
    opacity: .6;
    position: relative;
    top: -.8em;
  }
}

.reflectedX {
  transform: scaleX(-1);
}

.reflectedY {
  transform: scaleY(-1);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.add0top { margin-top: 0px !important; }
.add0bottom { margin-bottom: 0px !important; }
.add4top { margin-top: 4px !important; }
.add4bottom { margin-bottom: 4px !important; }
.add8top { margin-top: 8px !important; }
.add8bottom { margin-bottom: 8px !important; }
.add16top { margin-top: 16px !important; }
.add16bottom { margin-bottom: 16px !important; }
.add24top { margin-top: 24px !important; }
.add24bottom { margin-bottom: 24px !important; }
.add32top { margin-top: 32px !important; }
.add32bottom { margin-bottom: 32px !important; }
.add40top { margin-top: 40px !important; }
.add40bottom { margin-bottom: 40px !important; }
.add48top { margin-top: 48px !important; }
.add48bottom { margin-bottom: 48px !important; }
.add0left { margin-left: 0px !important; }
.add0right { margin-right: 0px !important; }
.add4left { margin-left: 4px !important; }
.add4right { margin-right: 4px !important; }
.add8left { margin-left: 8px !important; }
.add8right { margin-right: 8px !important; }
.add16left { margin-left: 16px !important; }
.add16right { margin-right: 16px !important; }
.add24left { margin-left: 24px !important; }
.add24right { margin-right: 24px !important; }
.add32left { margin-left: 32px !important; }
.add32right { margin-right: 32px !important; }
.add40left { margin-left: 40px !important; }
.add40right { margin-right: 40px !important; }
.add48left { margin-left: 48px !important; }
.add48right { margin-right: 48px !important; }

.add0inside { padding: 0 !important; }
.add4inside { padding: 4px !important; }
.add8inside { padding: 8px !important; }
.add11inside { padding: 12px 11px 11px 11px !important; }
.add16inside { padding: 16px !important; }
.add24inside { padding: 24px !important; }
.add32inside { padding: 32px !important; }
.add40inside { padding: 40px !important; }

.min100 {
  min-width: 100px;
}

.min150 {
  min-width: 150px;
}


.max150 {
  max-width: 150px;
}
.max200 {
  max-width: 200px;
}
.max300 {
  max-width: 300px;
}
.max500 {
  max-width: 500px;
}
.max960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.height500 {
  height: 500px;
  max-height: 500px;
  overflow: auto;
}

.height300 {
  height: 300px;
  max-height: 300px;
  overflow: auto;
}

.height350 {
  height: 350px;
  max-height: 350px;
  overflow: auto;
}
.height100percent {
  height: 100%;
  max-height: 100%;
  min-height: 300px;
  overflow: auto;
  position: relative;
}

.at-center {
  margin-left: auto;
  margin-right: auto;
}

.social {
  display: inline-block;
  margin: 2px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  text-align: center;
  color: #fff;
  background: $facebook;
  transform: scale(.9);
  transition: .3s;
  &:hover {
    transform: scale(1);
    color: #fff;
  }
}
.social--facebook {}
.social--twitter {
  background: $twitter;
}
.social--linkedin {
  background: $linkedin;
}
.social--instagram {
  background: $instagram;
}

.whiteBg {
  background: #fff;
  margin-left: -24px !important;
  margin-right: -24px !important;
  padding: 24px;
}
.white {
  color: #fff;
  a {
    color: inherit;
  }
}
.blue {
  color: $blue;
}
.red {
  color: $red;
}
.green {
  color: $green;
}

.border {
  border: 1px solid $border;
}
.border-bottom {
  border-bottom: 1px solid $border;
}
.no-border-bottom {
  border-bottom: none !important;
}
.no-border {
  border: none !important;
}
.radius {
  border-radius: 3px;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .5px;
}

.code {
  word-break: break-all;
}
.strong {
  font-weight: 600;
}
.extrabold {
  font-weight: 700;
}



.hidden-xs {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}
.hidden-xs-up {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
.hidden-sm-up {
  @media screen and (min-width: 1024px) {
    display: none !important;
  }
}
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.reverse-xs {
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }

}
.absoluteTop {
  position: absolute;
  top: 0;
}