.mainMenuWrapper {
  flex-grow: 1;
}
.mainMenu {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.mainMenuLink {
  font-size: 30px;
  display: none;
  padding: 16px;
  float: right;
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-right: 16px !important;
  }
}

.mainMenu__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  &.active a {
    color: $blue-plus1;
  }

}

.mainMenu__item__link {
  display: block;
  padding: 4px 14px;
  font-size: .8rem;
  text-transform: uppercase;
  &:hover {
    background: rgba(0,0,0,.1);
  }
}

.mobileMenuWrapper {
  position: relative;
  z-index: 20;
}
.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  display: none;
  flex-direction: column;
  background: $blue-minus2;
  color: rgba(#fff,.8);
  border-bottom: 1px solid rgba(white, .05);
  box-shadow: $shadow;
  transition: .3s;
  li {
    display: block;
  }
  a {
    padding: 12px 24px;
    display: block;
    color: inherit;
    border-top: 1px solid rgba(white, .1);
    &:hover {
      color: rgba(#fff, 1);
    }
  }
  @media screen and (max-width: 767px) {
    display: flex;
  }
  &.active {
    max-height: 100vh;
    overflow: auto;
  }
}


.qtip-content {
  background: #fff;
  padding: 0;
  box-shadow: $shadow;
  a {
    font-size: .9rem;
    color: $grayText;
    display: block;
    padding: 12px 16px;
    border-bottom: 1px solid $border;
    &:hover {
      background-color: $gray-plus2;
    }
  }

}