.news {
    display: flex;
    margin-bottom: 24px;
    background: #fff;
    padding: 24px;
    box-shadow: 0 1px 8px rgba(black, .1);
}
.news__thumb {
    padding-right: 24px;
    a {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 120px;
        background: #fff 50% 50% no-repeat;
        background-size: cover;
        margin-top: 8px;
    }
}
.news__thumb--small {
    padding-right: 0;
    a {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        margin-top: 0;
    }
}
.news__title {
    color: $grayText;
    margin-bottom: 8px;
    a {
        color: inherit;
    }
}

.news__data {
    width: 100%;
}

.news__lead {
    font-size: .9rem;
    padding-bottom: 16px;
    border-bottom: 1px solid $border;
}
