.panel {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 8px rgba(black, .05);
  margin-bottom: 24px;
  border: 1px solid rgba(black, .09);
}
.panel__header {
  background: $gray;
  color: $grayText;
  padding: 16px 24px;
  border-bottom: 1px solid $border;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro";
  }
}
.panel__header--narrow {
  padding: 5px 6px 0px 12px;
}
.panel__title {
  text-align: center;
  position: relative;
  white-space: nowrap;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 24px 24px 0 24px;
  span {
    background: #fff;
    display: inline-block;
    padding: 0 16px;
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: $border;
    top: 11px;
    left: 0;
    content: '';
  }
}
.panel__body {
}
.panel__body__part {
  padding: 16px 24px;
  border-bottom: 1px solid $border;
  &.gray {
    background: $gray;
  }
  &:last-child, &.noBorder {
    border-bottom: none;
  }
}
.panel__footer {
  padding: 16px 24px;
}
