.picker {
    width: 400px;
    text-align: center;
}
.picker__holder {
    box-shadow: $shadow;
}
.picker__header {
    font-weight: 600;
    border-bottom: 1px solid $border;
    padding: 8px;
}
.picker__month,
.picker__year {
    padding: 4px;
}
.picker__table {
    td, th {
        padding: 0;
        text-align: center;
    }
}
.picker__day--outfocus {
    color: rgba($grayText, .5);
}
.picker__weekday {
    text-transform: uppercase;
    color: rgba($grayText, .3);
    font-size: .8rem;
    padding-top: 8px !important;
}
.picker__day {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 32px;
    margin: 2px auto;
    padding-top: 6px;
}
.picker__day--today {
    background: $blue;
    color: #fff;
}