.languagesPopupMenu {
    background: lighten($blue-minus2, 10%);
    li {
        text-align: center;
    }
    a {
        display: inline-block;
        margin: 4px auto;
        padding: 0;
        border-bottom: none;
        &:hover {
            background-color: transparent;
        }
    }
}