section {
}
.inverse {
	.section {
		font-family: "Source Sans Pro", sans-serif;
		background: #141e46 50% 50% no-repeat;
		background-size: cover;
		border-radius: 3px;
		margin-bottom: 5px;
	}
	.section__header {
		padding: 12px 16px;
		margin: 0;
		font-size: 1.2rem;
		font-weight: 400;
		color: $gray-minus2;
		color: #fff;
	}
}
.section__body {}


// section buy
.section--buy-sell {
	background-image: url(../img/chart_bg.jpg);
	border-radius: 0;
	padding: 24px 24px 8px 24px;
	.section__header {
		font-size: 1.5rem;
		color: #fff;
		font-weight: 400;
		padding-bottom: 24px;
	}
}
.section--tradeCurrency {
	.section__header {
		padding-bottom: 3px;
	}
	.section__body {
		padding: 0 16px 16px 16px;
	}
}


// section currencies
.currencies__header {
	padding: 16px 0 16px 0;
	font-weight: 400;
}
.currency {
	text-align: center;
	display: inline-block;
	padding: 0 16px 16px 0;
	&.active {
		.currency__icon {
			background: $blue;
			img {
				opacity: 1;
			}
		}
		.currency__title {
			opacity: 1;
		}
	}
}
.currency__icon {
	display: flex;
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 32px;
	background: rgba(#fff,.1);
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;

	img {
		width: 16px;
		height: auto;
		opacity: .5;
	}
}
.currency__title {
	text-transform: uppercase;
	font-size: .8rem;
	opacity: .5;
	color: #fff;
}

// section market
section.market {
	small {
		font-size: .8rem;
		opacity: .8;
		display: block;
		transform: translateY(-2px);
	}
}
section.latestTransactions {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	.table {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// section chart
.section--chart {
	display: flex;
	flex-direction: column;
	.section__header {
		flex-grow: 0;
	}
	.section__body {
		flex-grow: 1;
		position: relative;
		margin: 0 16px;
		overflow: hidden;
	}
	.section__footer {
		flex-grow: 0;
		padding: 0 16px 16px 16px;
	}
}
.chart__stats {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -16px;
}
.chart_stats_col {
	flex-grow: 1;
	padding-bottom: 16px;
	@media screen and (max-width: 767px){
		flex-basis: 33.3333%;
			&:last-child {
				display: block !important;
				padding-bottom: 0 !important;
			}
	}
	@media screen and (max-width: 520px){
		flex-basis: 50%;
	}
	// @media screen and (max-width: 400px){
	// 	flex-basis: 100%;
	// }
	&:last-child {
		display: none;
	}
}
#chart {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 530px;
}

.main__center {
	section.section--chart {
		flex-grow: 1
	}
	.wrapper--buy-sell {
		flex-grow: 0
	}
}

//section prices
.section--prices {
	background: $blue-minus2;
	padding: 10px;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			color: rgba(white, .5);
			padding: 4px 16px 4px 8px;
			font-size: .9rem;
			.mdi-arrow-up {
				color: $green;
			}
			.mdi-arrow-down {
				color: $red;
			}
		}	
	}
}

//section how it works
.section--howItWorks {
	.col-xs-12 {
		position: relative;
		&:nth-child(2) {
			&:before,
			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-12px);
				width: 24px;
				height: 24px;
				background: url(../img/dots.png) 50% 50% no-repeat;
				background-size: contain;
			}
			&:before {
				left: -12px;
			}
			&:after {
				right: -12px;
			}

			@media screen and (max-width: 767px) {
				
				padding: 48px 0;
				&:before,
				&:after
				{
					width: 100%;
					min-width: 300px;
					height: 7px;
					left: 0;
					right: 0;
					top: 4px;
				}
				&:after {					
					top: 294px;
				}
			}
		}
	}
	.column {
		background: #fff;
		box-shadow: $shadow;
		width: 100%;
    	padding-top: 100%;
		position: relative;
		border-radius: 9999px;


		@media screen and (max-width: 767px) {
			width: 250px;
			height: 250px;
			margin: 0 auto;
			padding-top: 0;
			margin-top: -8px;
		}

	}
	.column__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 24px;
	}
}

//section ourAdvantages
.section--ourAdvantages {
	padding-bottom: 24px;
	.col-xs-12 {
		margin-bottom: -48px;
	}
	.advantage {
		padding-bottom: 32px;
	}
}
//section faq
.section--faq {
	margin-bottom: 50px;
}

//section about
.section--about {
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
.linkToCopy {
	position: relative;
	.copied {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		display: inline-block;
		padding: 8px 16px;
		background: #fff;
		border-radius: 100px;
		font-size: .8rem;
		box-shadow: $shadow;
		animation-fill-mode: forwards;
		-webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadeout 2s; /* Firefox < 16 */
		 -ms-animation: fadeout 2s; /* Internet Explorer */
		  -o-animation: fadeout 2s; /* Opera < 12.1 */
			 animation: fadeout 2s;

		i {
			font-size: 1.1rem;
		}
	}
}
.ourPackages {
	.icon {
		vertical-align: baseline;
	}
}