.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .9rem;
  @media screen and (max-width: 600px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
  li {
    text-align: center;
    &.dropdownLink {
      display: none;
      @media screen and (max-width: 600px) {
        display: block;
      }
      a {
        padding-left: 0;
      }
    }
    &.active a,
    &:hover a {
      color: $blue;
    }
    &.disabled a {
      pointer-events: none;
      opacity: .2;
    }
    // &:not(.active) {
    //   @media screen and (max-width: 600px) {
    //     display: none;
    //   }
    // }
  }
  a {
    display: inline-block;
    padding: 8px 16px;
    color: $grayText;
  }
}
.tabs--listing {
  display: inline-flex;
  font-size: .8rem;
  border: 1px solid $border;
  background: #fff;
  li {
    border-right: 1px solid $border;
    &:last-child {
      border-right: none;
    }
    &.active a {
      color: #333;
      font-weight: 600;
    }
  }
  a {
    padding: 8px 12px;
    color: #ced0da;
  }
}

.tabs--caps {
  float: right;
  text-transform: uppercase;
  font-size: .8rem;
  position: relative;
  top: -6px;
  li {
    display: inline-block;
  }
  a {
    color: lighten($grayText, 10%);
  }
  @media screen and (max-width: 600px) {
    float: none;
    flex-wrap: wrap;
    top: 8px;
    background: $gray-plus1;
  }

}
.tabs--chart {
  @media screen and (max-width: 540px ){
    display: none;
  }
}

.tabs--small {
  align-items: flex-start;
  justify-content:  flex-start;
  a {
    padding: 4px 8px;
  }
}
.tabs--mobile {
  display: none;
  align-items: stretch;
  background: #fff;
  box-shadow: $shadow;
  flex-direction: column;
  padding: 4px 0;
  transition: .3s;
  li {
    display: block !important;
  }
  a {
    display: block;
    text-align: left;
    background-color: #fff;
    padding: 8px 16px;
    &:hover {
      background-color: $gray-plus2;
    }
  }
}
.tabs--trade {
  justify-content: center;
  li.active a {
    color: rgba(#fff, 1);
  }
  a {
    color: rgba(#fff, .5);
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.tabs--account {
  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin-left: -16px;
  }
}
.tabs.tabs--dashboard {
  width: 100%;
  justify-content: center;
  background: $blue-minus3;
  padding: 16px;
  // &:hover {
  //   li.active a{
  //     color: #fff !important;
  //   }
  // }
  li {
    &.active a,
    &:hover a {
      color: $blue-plus2 !important;
    }  
  }
  a {
    opacity: 1 !important;
    color: #fff !important;
  }
}
.inverse {
  .tabs {
    a {
      color: $gray-minus2;
      opacity: .8;
    }
    li.active {
      a {
        color: #fff;
        opacity: 1;
      }
    }
  }
}
