h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  color: #324355;
  .subheader {
    font-size: .7em;
    color: lighten(#324355, 40%);
    font-weight: 400;
  }
}
h6 {
  font-size: 1.1rem;
  font-weight: 700;
}
h5 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.5rem;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}

.l {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background: $border;
}

.lead {
  font-size: 1.1em;
  font-weight: 700;
}

.main__title {
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 32px;
  padding-top: 16px;
}

.list {
  li {
    margin-bottom: 8px;
  }
}

.list--simple {
  list-style: disc;
  margin-left: 32px;
  margin-bottom: 16px;
  li {
  
  }

}

.list--caps {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7rem;
  color: $grayText;
  list-style: disc;
  list-style-position: inside;
  li {
    margin-bottom: 16px;
    padding-left: 14px;
    &.active {
      color: $blue;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: $blue;
    }
  }
}