$shadow:        0 1px 8px rgba(black, .1);
$background:    #f5f8fa;

$gray:          #f1f4f8;
$gray-plus1:    #f5f5f5;
$gray-plus2:    #f8f8f8;
$gray-minus1:   darken($gray, 5%);
$gray-minus2:   darken($gray, 10%);
$gray-minus3:   darken($gray, 15%);

$border:        $gray-minus1;

$blue:          #3f80fa;
$blue-plus1:    #55b8fe;
$blue-plus2:    #55b8fe;
$blue-minus1:   #0d1539;
$blue-minus2:   #0b1231;
$blue-minus3:   #121226;


$green:         #36af47;
$red:           #ed1c24;

$facebook:      #3b5998;
$linkedin:     #0077b5;
$twitter:       #1da1f2;  
$instagram:     #fd1d1d;     
$grayText:      #354052;

$input-height-base:     1.5;

$cursor-disabled:                not-allowed !default;

$padding-xs-vertical: 4px;
$padding-xs-horizontal: 8px;
$font-size-xs: .9rem;
$line-height-xs: 1.5;
$btn-border-radius-xs: 1px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 16px;
$font-size-small: 1rem;
$line-height-small: 1.5;
$btn-border-radius-small: 2px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;
$font-size-large: 1.1rem;
$line-height-large: 1.6;
$btn-border-radius-large: 3px;

$padding-base-vertical: 10px;
$padding-base-horizontal: 16px;
$font-size-base: 1rem;
$line-height-base: 1.5;
$btn-border-radius-base: 3px;
