body {
    background: #141e46;
}
.react-stockcharts-candlestick {}
.react-stockcharts-candlestick-wick path {
    stroke-width: 2px;
}
.react-stockcharts-candlestick-candle rect {
    transform: translateX(-2px);
}
.react-stockcharts-edgeindicator {
    display: none;
}
.react-stockcharts-x-axis text,
.react-stockcharts-y-axis text {
    fill: rgba(255, 255, 255, .6);
}
.react-stockcharts-x-axis line,
.react-stockcharts-y-axis line {
        stroke: rgba(255, 255, 255, .2);
}
.react-stockcharts-axis-domain {
    stroke: rgba(255, 255, 255, .2);
}
.react-stockcharts-tooltip rect{
    fill: rgba(0,0,0,0);
}
.react-stockcharts-tooltip-content {
    fill: rgba(0,0,0,0) !important;
}
.react-stockcharts-tooltip-content text {
    fill: #fff;
}