<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta name="description" content="{{ site['description'] }}">
    <meta name="keywords" content="{{ site['keywords'] }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./js/pickadate/themes/classic.css" />
    <link rel="stylesheet" href="./js/pickadate/themes/classic.date.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:locale" content="" />
    <meta property="og:description"   content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#4186fa">
    <link rel="shortcut icon" href="./img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

</head>
{% spaceless %}
{% endspaceless %}

<body id="{{ id }}" class="">

<div class="absoluteTop">
	{% for accountItem in accountMenu %}
		<a id="{{ accountItem["id"] }}"></a>
	{% endfor %}
</div>

<div class="wrap">
    {% include 'include/header.twig' %}
    {% block main %}{% endblock %}
    {% include 'include/footer.twig' %}
</div>

{% include 'include/scripts.twig' %}

</body>
</html>

