// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border, $colorHover, $backgroundHover, $borderHover) {
    color: $color;
    background: $background;
    border-color: $border;
  
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: $color;
      background-color: $backgroundHover;
      border-color: $borderHover;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus,
      &.focus {
        background-color: $background;
            border-color: $border;
      }
    }
  }
  
  // Button sizes
  @mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
  }