			<div id="buy">
				<form>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="row middle-xs">
								<div class="col-xs-5 add8bottom">
									<div class="selectWrapper withIcon">
										<select id="country" class="form-control extrabold">
											<option value="sepa">SEPA</option>
											<option value="cc">Credit Card</option>
										</select>
										<img class="icon" src="./img/sepa_icon.png" />
									</div>
								</div>
								<div class="col-xs-7 add8bottom">
									<div class="row inputAndSelect">
										<div class="col-xs hasDesciption">
											<input type="text" class="form-control text-right" placeholder="" value="100"></input>
											<span class="description">You Pay</span>
										</div>
										<div class="col selectWrapper">
											<select id="" class="form-control extrabold">
												<option value="100">USD</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="small white opacity5 note--trade">
									<span>Amount already includes commission</span>
									<span>Bank Card: 4.5% BTCBIT: 5% ETH: 0.005 ETH</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="row middle-xs">
								<div class="col-xs-12 col-sm-8 add8bottom">
									<div class="row inputAndSelect">
										<div class="col-xs hasDesciption">
											<input type="text" class="form-control text-right" placeholder="" value="13.333"></input>
											<span class="description">You Get</span>
										</div>
										<div class="col selectWrapper">
											<select id="" class="form-control extrabold">
												<option value="100">ETH</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 add8bottom">
									<input type="submit" class="btn btn-primary btn-block extrabold" value="Exchange"></input>
								</div>
							</div>
							<div>
								<div class="small white opacity5 note--get">
									<span>Min 50 EUR - Max 30000 EUR   Our reserve  266 ETH</span>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
