<footer class="footer">
    <div class="footer__logos">
        <div class="container">
            {% for logo in logos %}
                <a class="footer__logo"><img src="./img/logo/{{ logo['id'] }}.png" /></a>
            {% endfor %}
        </div>
    </div>
    <div class="footer__main add24left add24right">
        <div class="container">
            <div class="row center-xs add32bottom footer__main__links">
                {% for footerLink in footerLinks %}
                <div class="col-xs-5  col-sm-4 col-md-2 col-lg-2">
                    <ul class="footer__list">
                        <li class="footer__list__heading">{{ footerLink['title'] }}</li>
                        {% for footerLinkInner in footerLink['links'] %}
                            <li><a href="{{ footerLinkInner["url"] }}">{{ footerLinkInner["title"] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <hr class="add24bottom" />
            <div class="row center-xs at-center" style="width: 91%">
                <div class="col-xs-12 footer__logoAndSocial">
                    <div class="text-center">
                        <div><img src="./img/btcbit_logo_full.png" /></div>
                        <div class="footer__social">
                            {% for socialLink in socialLinks %}
                            <a class="mdi mdi-{{ socialLink['title'] }}" href="#{{ socialLink['url'] }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <ul class="footer__list">
                        <li class="footer__list__heading">BTCBIT</li>
                        <li>SIA "BTC Baltic"</li>
                        <li>Riga, Zentenes iela 30 - 14, LV-1069</li>
                        <li>Reg. no.: 40203070322</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <div>
                        <ul class="footer__list text-right">
                            <li class="footer__list__heading">Languages</li>
                            <li class="active"><a href="#en">English</a></li>
                            <li><a href="#en">Русский</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        &copy; 2018 BTCBIT. All rights reserved SIA "BTCBIT Baltic"
    </div>
</footer>
