{% set guest = false %}
{% if pageId == 'home'
    or pageId == 'authorization'
    or pageId == 'registration_step1'
    or pageId == 'registration_step2'
    or pageId == 'registration_step3'
%}
    {% set guest = true %}
{% endif %}

<header class="header{% if pageId == 'home'%} header--home{% endif %}">
    <a href="mainpage.html" class="logo"><img src="./img/btcbit_logo{% if pageId == 'home'%}_full{% endif %}.png" class="logo__image" /></a>
    <div class="mainMenuWrapper">
        <ul class="mainMenu">
            {% if guest %} 
                {% set siteMenu = siteMenuGuest %}
            {% endif %}

            {% for menuItem in siteMenu %}
                {% if menuItem['id'] == pageId %}
                    {% set class = 'active' %}
                    {% else %}
                    {% set class = '' %}
                {% endif %}
                <li class="mainMenu__item {{ class }}"><a href="{{ menuItem['id'] ~ '.html' }}" class="mainMenu__item__link">{{ menuItem["title"] }}</a></li>
            {% endfor %}
        </ul>
        <button class="mainMenuLink hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    {% if guest %}
        <div class="status">
            <div class="status__links">
                <a href="authorization.html" class="inline-block add24right">Sign in</a>
                <a href="registration.html" class="inline-block">Register</a>
            </div>
            <a href="#" class="status__dots mdi mdi-dots-vertical"></a>
            <span class="dropdownLink"><a href="#" class="status__lang" style="background-image: url(./img/flag/uk.png)" dropdown-id="languagesPopupMenu"></a></span>
            <ul id="languagesPopupMenu" class="languagesPopupMenu" style="display:none;">
                <li class=""><a href="#" class="status__lang" style="background-image: url(./img/flag/uk.png)"></a></li>
                <li class=""><a href="#" class="status__lang" style="background-image: url(./img/flag/ru.png)"></a></li>
            </ul>
        </div>

        {% else %}
        <div class="status">
            <div class="status__user active dropdownLink">
                <a href="account_settings.html" class="status__user__name" dropdown-id="accountPopupMenu">
                    <span>Sergey Gretsky</span>
                    <div class="small opacity5">Account Settings</div>
                </a>
            </div>
            <ul id="accountPopupMenu" class="accountPopupMenu" style="display:none;">
                {% for accountItem in accountMenu %}
                    <li class="accountPopupMenu__item"><a href="account_settings.html#{{ accountItem["id"] }}">{{ accountItem["title"] }}</a></li>
                {% endfor %}
            </ul>

            <a href="#" class="status__dots mdi mdi-dots-vertical"></a>
            <span class="dropdownLink"><a href="#" class="status__lang" style="background-image: url(./img/flag/uk.png)" dropdown-id="languagesPopupMenu"></a></span>
            <ul id="languagesPopupMenu" class="languagesPopupMenu" style="display:none;">
                <li class=""><a href="#" class="status__lang" style="background-image: url(./img/flag/uk.png)"></a></li>
                <li class=""><a href="#" class="status__lang" style="background-image: url(./img/flag/ru.png)"></a></li>
            </ul>
        </div>
    {% endif %}
</header>

<div class="mobileMenuWrapper">
    <ul class="mobileMenu">
        {% if guest %} 
            {% set siteMenu = siteMenuGuest %}
        {% endif %}

        {% for menuItem in siteMenu %}
            {% if menuItem['id'] == pageId %}
                {% set class = 'active' %}
                {% else %}
                {% set class = '' %}
            {% endif %}
            <li class="mainMenu__item {{ class }}"><a href="{{ menuItem['id'] ~ '.html' }}" class="mainMenu__item__link">{{ menuItem["title"] }}</a></li>
        {% endfor %}


        {% if guest %}
        <li class="mainMenu__item"><a href="authorization.html" class="mainMenu__item__link">Sign In</a></li>
        <li class="mainMenu__item">
            <a href="registration.html" class="mainMenu__item__link">Register</a>
            <div class="text-right smaller"><a href="#"><span class="status__lang status__lang--mobile" style="background-image: url(./img/flag/ru.png);"></span>По-русски</a></div>
        </li>
        {% else %}
        <li class="mainMenu__item"><a href="account_settings.html" class="mainMenu__item__link">My Profile</a></li>
        <li class="mainMenu__item">
            <a href="mainpage.html" class="mainMenu__item__link">Sign Out</a>
            <div class="text-right smaller"><a href="#"><span class="status__lang status__lang--mobile" style="background-image: url(./img/flag/ru.png);"></span>По-русски</a></div>
        </li>
        {% endif %}
    </ul>
</div>

{% if pageId == 'home' %}
<div class="hero">
    <div><img src="./img/btcbit_logo.png" class="hero__logo" /></div>
    <h1 class="hero__heading">
        Buy Bitcoins with Bank Card
        <div class="subheader">instant purchase and sale of crypto currency with low commission</div>
    </h1>
</div>
{% endif %}