<ul class="tabs tabs--listing add24bottom">
    {# <li class="tab disabled"><a href="#"><span class="mdi mdi-arrow-left"></span></a></li> #}
    <li class="tab active"><a href="#">1</a></li>
    <li class="tab"><a href="#">2</a></li>
    <li class="tab"><a href="#">3</a></li>
    <li class="tab"><a href="#">4</a></li>
    <li class="tab"><a href="#"><span class="mdi mdi-arrow-right"></span></a></li>
</ul>
