<script src="./js/jquery-2.2.1.min.js"></script>
<script src="./js/jquery-migrate-1.2.1.js"></script>
<script src="./js/jquery.qtip.min.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/jquery.hashchange.min.js"></script> 
<script src="./js/jquery.easytabs.js"></script>

<script src="./js/pickadate/picker.js"></script>
<script src="./js/pickadate/picker.date.js"></script>

<script src="./js/js.js"></script>
